In [1]:
import pandas as pd
import numpy as np
import random
import os
import gc
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(42) # Seed 고정

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [12]:
train = pd.read_parquet('./train.parquet')
test = pd.read_parquet('./test.parquet')
sample_submission = pd.read_csv('sample_submission.csv', index_col = 0)

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [4]:
NaN_col = ['Origin_State','Destination_State','Airline','Estimated_Departure_Time', 'Estimated_Arrival_Time','Carrier_Code(IATA)','Carrier_ID(DOT)']

# for col in NaN_col:
#     mode = train[col].mode()[0]
#     train[col] = train[col].fillna(mode)
    
#     if col in test.columns:
#         test[col] = test[col].fillna(mode)
# print('Done.')
# train = train.dropna(axis=0)
using = []
tp = train.isnull()
for i in range(len(train)):
    if sum(tp.iloc[i,:]) == 0:
        using.append(i)
using
# sum(train.iloc[0,1:])

[13,
 19,
 42,
 59,
 63,
 67,
 76,
 96,
 118,
 130,
 135,
 146,
 148,
 149,
 162,
 189,
 193,
 207,
 236,
 237,
 249,
 259,
 271,
 282,
 304,
 316,
 322,
 324,
 351,
 353,
 358,
 362,
 376,
 395,
 400,
 403,
 427,
 458,
 461,
 477,
 491,
 496,
 501,
 512,
 528,
 531,
 560,
 567,
 570,
 571,
 572,
 587,
 591,
 593,
 595,
 606,
 630,
 632,
 642,
 643,
 645,
 652,
 653,
 668,
 670,
 685,
 686,
 695,
 700,
 709,
 716,
 722,
 725,
 727,
 731,
 742,
 743,
 747,
 749,
 767,
 770,
 776,
 779,
 783,
 787,
 788,
 794,
 805,
 807,
 809,
 812,
 815,
 822,
 861,
 867,
 886,
 908,
 925,
 937,
 952,
 953,
 967,
 980,
 985,
 986,
 996,
 997,
 1003,
 1005,
 1037,
 1053,
 1068,
 1086,
 1101,
 1105,
 1110,
 1123,
 1127,
 1136,
 1148,
 1154,
 1163,
 1166,
 1188,
 1190,
 1197,
 1199,
 1201,
 1204,
 1212,
 1217,
 1231,
 1238,
 1241,
 1256,
 1267,
 1277,
 1339,
 1352,
 1365,
 1378,
 1380,
 1400,
 1408,
 1417,
 1420,
 1431,
 1442,
 1446,
 1456,
 1465,
 1470,
 1480,
 1522,
 1524,
 1530,
 1534,
 1550,
 1551,
 1566,
 1568,
 1579,
 1580,
 1588,
 1593,
 1600,
 1609,
 1610,
 1630,
 1634,
 1641,
 1645,
 1658,
 1685,
 1693,
 1699,
 1703,
 1704,
 1709,
 1712,
 1715,
 1729,
 1731,
 1749,
 1754,
 1756,
 1760,
 1767,
 1775,
 1778,
 1790,
 1813,
 1819,
 1821,
 1845,
 1890,
 1897,
 1906,
 1907,
 1908,
 1921,
 1928,
 1933,
 1934,
 1935,
 1944,
 1946,
 1947,
 1957,
 1965,
 1978,
 1979,
 1982,
 1983,
 1986,
 1991,
 2006,
 2007,
 2023,
 2028,
 2030,
 2032,
 2035,
 2038,
 2046,
 2048,
 2053,
 2054,
 2055,
 2077,
 2090,
 2118,
 2120,
 2129,
 2140,
 2146,
 2153,
 2158,
 2160,
 2164,
 2166,
 2168,
 2171,
 2173,
 2176,
 2181,
 2183,
 2187,
 2206,
 2212,
 2225,
 2238,
 2244,
 2258,
 2278,
 2279,
 2283,
 2285,
 2287,
 2292,
 2303,
 2311,
 2319,
 2329,
 2331,
 2332,
 2352,
 2388,
 2394,
 2403,
 2414,
 2415,
 2422,
 2445,
 2456,
 2463,
 2466,
 2469,
 2492,
 2497,
 2520,
 2525,
 2527,
 2534,
 2547,
 2557,
 2559,
 2568,
 2579,
 2587,
 2599,
 2602,
 2603,
 2605,
 2615,
 2629,
 2634,
 2653,
 2655,
 2660,
 2690,
 2702,
 2708,
 2745,
 2755,
 2757,
 2758,
 2775,
 2776,
 2781,
 2784,
 2790,
 2795,
 2797,
 2798,
 2819,
 2824,
 2842,
 2848,
 2853,
 2856,
 2857,
 2860,
 2862,
 2878,
 2879,
 2880,
 2881,
 2882,
 2891,
 2892,
 2895,
 2908,
 2912,
 2922,
 2933,
 2935,
 2941,
 2950,
 2965,
 2971,
 2973,
 2993,
 2998,
 3008,
 3012,
 3036,
 3046,
 3069,
 3085,
 3095,
 3100,
 3113,
 3119,
 3124,
 3125,
 3143,
 3146,
 3147,
 3153,
 3165,
 3179,
 3184,
 3193,
 3195,
 3199,
 3202,
 3206,
 3227,
 3231,
 3251,
 3258,
 3262,
 3263,
 3276,
 3283,
 3291,
 3317,
 3327,
 3374,
 3383,
 3407,
 3410,
 3411,
 3418,
 3424,
 3425,
 3435,
 3442,
 3463,
 3475,
 3477,
 3495,
 3502,
 3503,
 3516,
 3526,
 3532,
 3545,
 3551,
 3552,
 3557,
 3593,
 3601,
 3605,
 3616,
 3618,
 3635,
 3656,
 3663,
 3677,
 3682,
 3683,
 3686,
 3691,
 3700,
 3718,
 3723,
 3763,
 3768,
 3769,
 3782,
 3792,
 3796,
 3807,
 3822,
 3829,
 3835,
 3836,
 3851,
 3853,
 3862,
 3863,
 3865,
 3866,
 3867,
 3870,
 3876,
 3878,
 3900,
 3917,
 3928,
 3946,
 3958,
 3959,
 3969,
 3971,
 3976,
 3982,
 3985,
 3989,
 4016,
 4026,
 4034,
 4035,
 4051,
 4076,
 4084,
 4087,
 4093,
 4094,
 4103,
 4130,
 4148,
 4153,
 4154,
 4156,
 4167,
 4168,
 4177,
 4190,
 4195,
 4196,
 4207,
 4208,
 4210,
 4214,
 4215,
 4229,
 4231,
 4237,
 4248,
 4295,
 4301,
 4322,
 4328,
 4340,
 4343,
 4347,
 4356,
 4361,
 4367,
 4369,
 4375,
 4377,
 4380,
 4381,
 4385,
 4389,
 4402,
 4406,
 4413,
 4418,
 4423,
 4425,
 4429,
 4466,
 4478,
 4497,
 4498,
 4513,
 4522,
 4545,
 4551,
 4585,
 4595,
 4596,
 4598,
 4601,
 4612,
 4624,
 4656,
 4667,
 4669,
 4670,
 4672,
 4688,
 4694,
 4698,
 4725,
 4726,
 4736,
 4738,
 4750,
 4753,
 4764,
 4768,
 4778,
 4779,
 4782,
 4784,
 4795,
 4801,
 4842,
 4861,
 4869,
 4880,
 4891,
 4892,
 4908,
 4910,
 4919,
 4943,
 4944,
 4959,
 4960,
 4966,
 4972,
 4977,
 4980,
 4994,
 5017,
 5021,
 5035,
 5038,
 5040,
 5044,
 5050,
 5057,
 5064,
 5073,
 5102,
 5107,
 5111,
 5114,
 5117,
 5118,
 5121,
 5127,
 5140,
 5145,
 5157,
 5200,
 5210,
 5219,
 5229,
 5232,
 5246,
 5271,
 5282,
 5284,
 5290,
 5297,
 5301,
 5303,
 5306,
 5311,
 5314,
 5323,
 5335,
 5345,
 5346,
 5347,
 5354,
 5355,
 5359,
 5372,
 5377,
 5396,
 5397,
 5407,
 5411,
 5421,
 5426,
 5429,
 5430,
 5463,
 5475,
 5485,
 5501,
 5505,
 5512,
 5531,
 5553,
 5569,
 5572,
 5573,
 5578,
 5581,
 5599,
 5608,
 5610,
 5618,
 5625,
 5634,
 5639,
 5646,
 5653,
 5657,
 5661,
 5662,
 5677,
 5695,
 5697,
 5724,
 5725,
 5747,
 5748,
 5752,
 5754,
 5755,
 5757,
 5764,
 5768,
 5782,
 5789,
 5795,
 5798,
 5803,
 5815,
 5819,
 5828,
 5848,
 5882,
 5885,
 5896,
 5901,
 5913,
 5916,
 5919,
 5930,
 5961,
 5968,
 5975,
 5978,
 5980,
 5981,
 5983,
 5992,
 5993,
 6002,
 6005,
 6006,
 6017,
 6021,
 6052,
 6059,
 6063,
 6065,
 6072,
 6096,
 6097,
 6100,
 6128,
 6130,
 6139,
 6143,
 6146,
 6151,
 6152,
 6154,
 6162,
 6164,
 6173,
 6176,
 6183,
 6210,
 6213,
 6214,
 6241,
 6255,
 6260,
 6269,
 6285,
 6290,
 6292,
 6309,
 6346,
 6369,
 6378,
 6400,
 6420,
 6428,
 6430,
 6433,
 6446,
 6454,
 6462,
 6468,
 6477,
 6481,
 6514,
 6521,
 6523,
 6528,
 6537,
 6540,
 6569,
 6570,
 6576,
 6581,
 6584,
 6586,
 6592,
 6593,
 6595,
 6610,
 6624,
 6640,
 6645,
 6648,
 6654,
 6658,
 6660,
 6663,
 6680,
 6683,
 6687,
 6699,
 6741,
 6743,
 6753,
 6762,
 6765,
 6771,
 6775,
 6778,
 6780,
 6808,
 6812,
 6822,
 6826,
 6830,
 6841,
 6860,
 6867,
 6877,
 6908,
 6917,
 6927,
 6939,
 6940,
 6942,
 6950,
 6967,
 6973,
 6988,
 7005,
 7016,
 7017,
 7034,
 7036,
 7049,
 7058,
 7067,
 7076,
 7079,
 7090,
 7092,
 7107,
 7114,
 7135,
 7144,
 7161,
 7166,
 7181,
 7183,
 7200,
 7202,
 7204,
 7221,
 7224,
 7227,
 7228,
 7229,
 7230,
 7235,
 7243,
 7250,
 7253,
 7259,
 7270,
 7275,
 7280,
 7287,
 7292,
 7323,
 7324,
 7326,
 7364,
 7375,
 7383,
 7396,
 7397,
 7412,
 7415,
 7417,
 7436,
 7441,
 7455,
 7492,
 7493,
 7495,
 7503,
 7513,
 7514,
 7516,
 7528,
 7548,
 7558,
 7561,
 7567,
 7586,
 7588,
 7595,
 7608,
 7621,
 7622,
 7624,
 7627,
 7629,
 7632,
 7634,
 7646,
 7651,
 7660,
 7662,
 7664,
 7669,
 7680,
 7694,
 7698,
 7713,
 7716,
 7717,
 7718,
 7737,
 7740,
 7741,
 7744,
 7754,
 7762,
 7770,
 7778,
 7791,
 7800,
 7804,
 7805,
 7812,
 7813,
 7819,
 7833,
 7844,
 7850,
 7852,
 7859,
 7875,
 7881,
 7886,
 7899,
 7900,
 7917,
 7923,
 7924,
 7930,
 7936,
 7939,
 7942,
 7957,
 7967,
 7979,
 7983,
 7984,
 7988,
 8004,
 8005,
 8008,
 8014,
 8021,
 8025,
 8038,
 8040,
 8045,
 8048,
 8049,
 8064,
 8082,
 8087,
 8091,
 8099,
 8102,
 8110,
 8111,
 8118,
 8145,
 8165,
 8168,
 8169,
 8177,
 8225,
 8234,
 8236,
 8239,
 8247,
 8254,
 8270,
 8320,
 8335,
 8336,
 8352,
 8362,
 8365,
 8367,
 8371,
 8379,
 8387,
 8391,
 8403,
 8407,
 8429,
 8440,
 8448,
 8479,
 8485,
 8487,
 8490,
 8511,
 8535,
 8549,
 8552,
 8555,
 8556,
 8567,
 8573,
 8575,
 8603,
 8626,
 8632,
 8642,
 8645,
 8658,
 8669,
 8672,
 8676,
 8682,
 8685,
 8695,
 8705,
 8708,
 8712,
 8714,
 8729,
 8734,
 8745,
 8773,
 8775,
 8776,
 8791,
 8794,
 8796,
 ...]

In [8]:
train = train.dropna(axis=0)
train.Delay.value_counts()

Not_Delayed    93848
Delayed        19939
Name: Delay, dtype: int64

In [9]:
# from sklearn.decomposition import PCA

In [10]:
# train.sort_values(['Month','Day_of_Month'])

In [14]:
train['Num_na'] = [sum(i) for i in train.isna()]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
train.isna().sum(axis=0)

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time    109019
Estimated_Arrival_Time      109040
Cancelled                        0
Diverted                         0
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                109015
Destination_Airport              0
Destination_Airport_ID           0
Destination_State           109079
Distance                         0
Airline                     108920
Carrier_Code(IATA)          108990
Carrier_ID(DOT)             108997
Tail_Number                      0
Delay                       744999
NNa                              0
dtype: int64

In [29]:
train['NNa'] = train.isna().sum(axis=1)
train

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,NNa
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,None,3
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,None,1
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,None,1
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,None,2
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,None,PHL,14100,None,678.0,United Air Lines Inc.,UA,19977.0,N477UA,None,3
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,None,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,None,3
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,None,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,None,2
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,None,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,None,2
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,None,DL,19790.0,N695DL,None,2

In [37]:
train[train['NNa'] == 1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429248 entries, 1 to 999989
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        429248 non-null  object
 1   Month                     429248 non-null  int64
 2   Day_of_Month              429248 non-null  int64
 3   Estimated_Departure_Time  415192 non-null  float64
 4   Estimated_Arrival_Time    415411 non-null  float64
 5   Cancelled                 429248 non-null  int64
 6   Diverted                  429248 non-null  int64
 7   Origin_Airport            429248 non-null  object
 8   Origin_Airport_ID         429248 non-null  int64
 9   Origin_State              415307 non-null  object
 10  Destination_Airport       429248 non-null  object
 11  Destination_Airport_ID    429248 non-null  int64
 12  Destination_State         415479 non-null  object
 13  Distance                  429248 non-null  float64
 14  Airline                   415448 non-null  object
 15  Carrier_Code(IATA)        415217 non-null  object
 16  Carrier_ID(DOT)           415360 non-null  float64
 17  Tail_Number               429248 non-null  object
 18  Delay                     97322 non-null   object
 19  NNa                       429248 non-null  int64
dtypes: float64(4), int64(7), object(9)
memory usage: 68.8+ MB