In [166]:
import pandas as pd
import numpy as np
import random
import os
import gc
from sklearn.preprocessing import LabelEncoder

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(42) # Seed 고정

In [167]:
# def csv_to_parquet(csv_path, save_name):
#     df = pd.read_csv(csv_path)
#     df.to_parquet(f'./{save_name}.parquet')
#     del df
#     gc.collect()
#     print(save_name, 'Done.')
    
# csv_to_parquet('./train.csv', 'train')
# csv_to_parquet('./test.csv', 'test')

In [168]:
train = pd.read_parquet('./train.parquet')
test = pd.read_parquet('./test.parquet')
sample_submission = pd.read_csv('sample_submission.csv', index_col = 0)

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [169]:
train = train.drop('Carrier_Code(IATA)',axis=1)

In [170]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 18 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        1000000 non-null  object
 1   Month                     1000000 non-null  int64
 2   Day_of_Month              1000000 non-null  int64
 3   Estimated_Departure_Time  890981 non-null   float64
 4   Estimated_Arrival_Time    890960 non-null   float64
 5   Cancelled                 1000000 non-null  int64
 6   Diverted                  1000000 non-null  int64
 7   Origin_Airport            1000000 non-null  object
 8   Origin_Airport_ID         1000000 non-null  int64
 9   Origin_State              890985 non-null   object
 10  Destination_Airport       1000000 non-null  object
 11  Destination_Airport_ID    1000000 non-null  int64
 12  Destination_State         890921 non-null   object
 13  Distance                  1000000 non-null  float64
 14  Airline                   891080 non-null   object
 15  Carrier_ID(DOT)           891003 non-null   float64
 16  Tail_Number               1000000 non-null  object
 17  Delay                     255001 non-null   object
dtypes: float64(4), int64(6), object(8)
memory usage: 137.3+ MB

In [171]:
print(len(train['Origin_Airport'].unique()) == len(train['Origin_Airport_ID'].unique()))
train = train.drop('Origin_Airport',axis=1)
print(len(train['Destination_Airport'].unique()) == len(train['Destination_Airport_ID'].unique()))
train = train.drop('Destination_Airport',axis=1)
train

True
True

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport_ID,Origin_State,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_ID(DOT),Tail_Number,Delay
0,TRAIN_000000,4,15,NaN,NaN,0,0,13851,Oklahoma,12191,Texas,419.0,Southwest Airlines Co.,19393.0,N7858A,None
1,TRAIN_000001,8,15,740.0,1024.0,0,0,13930,Illinois,14869,Utah,1250.0,SkyWest Airlines Inc.,20304.0,N125SY,None
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,11057,North Carolina,12953,New York,544.0,American Airlines Inc.,19805.0,N103US,None
3,TRAIN_000003,7,10,905.0,1735.0,0,0,12892,California,11618,New Jersey,2454.0,United Air Lines Inc.,NaN,N595UA,None
4,TRAIN_000004,1,11,900.0,1019.0,0,0,14771,California,10157,California,250.0,SkyWest Airlines Inc.,20304.0,N161SY,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,13930,None,14100,None,678.0,United Air Lines Inc.,19977.0,N477UA,None
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,11637,None,13487,Minnesota,223.0,SkyWest Airlines Inc.,NaN,N439SW,None
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,13796,None,12191,Texas,1642.0,Southwest Airlines Co.,19393.0,N230WN,None
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,10693,Tennessee,10397,None,214.0,Delta Air Lines Inc.,19790.0,N968DL,None
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,14635,Florida,11433,Michigan,1084.0,None,19790.0,N695DL,None

In [172]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 16 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        1000000 non-null  object
 1   Month                     1000000 non-null  int64
 2   Day_of_Month              1000000 non-null  int64
 3   Estimated_Departure_Time  890981 non-null   float64
 4   Estimated_Arrival_Time    890960 non-null   float64
 5   Cancelled                 1000000 non-null  int64
 6   Diverted                  1000000 non-null  int64
 7   Origin_Airport_ID         1000000 non-null  int64
 8   Origin_State              890985 non-null   object
 9   Destination_Airport_ID    1000000 non-null  int64
 10  Destination_State         890921 non-null   object
 11  Distance                  1000000 non-null  float64
 12  Airline                   891080 non-null   object
 13  Carrier_ID(DOT)           891003 non-null   float64
 14  Tail_Number               1000000 non-null  object
 15  Delay                     255001 non-null   object
dtypes: float64(4), int64(6), object(6)
memory usage: 122.1+ MB

In [173]:
tar = train['Origin_State'].unique().tolist()
tar = [str(i) for i in tar]
tar.sort()
tar1 = train['Destination_State'].unique().tolist()
tar1 = [str(i) for i in tar]
tar1.sort()
print(tar)
print(tar1)

train = train.drop(['Origin_State','Destination_State'],axis=1)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'None', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'U.S. Pacific Trust Territories and Possessions', 'U.S. Virgin Islands', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'None', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'U.S. Pacific Trust Territories and Possessions', 'U.S. Virgin Islands', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [174]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 14 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        1000000 non-null  object
 1   Month                     1000000 non-null  int64
 2   Day_of_Month              1000000 non-null  int64
 3   Estimated_Departure_Time  890981 non-null   float64
 4   Estimated_Arrival_Time    890960 non-null   float64
 5   Cancelled                 1000000 non-null  int64
 6   Diverted                  1000000 non-null  int64
 7   Origin_Airport_ID         1000000 non-null  int64
 8   Destination_Airport_ID    1000000 non-null  int64
 9   Distance                  1000000 non-null  float64
 10  Airline                   891080 non-null   object
 11  Carrier_ID(DOT)           891003 non-null   float64
 12  Tail_Number               1000000 non-null  object
 13  Delay                     255001 non-null   object
dtypes: float64(4), int64(6), object(4)
memory usage: 106.8+ MB

In [175]:
print(train['Airline'].value_counts())
print(train['Carrier_ID(DOT)'].value_counts())
train = train.drop(['Airline'],axis=1)

Southwest Airlines Co.                       182113
Delta Air Lines Inc.                          89750
SkyWest Airlines Inc.                         86867
United Air Lines Inc.                         84070
American Airlines Inc.                        82755
JetBlue Airways                               41643
Republic Airlines                             33582
Alaska Airlines Inc.                          29141
Envoy Air                                     27455
Spirit Air Lines                              24998
Comair Inc.                                   24723
Mesa Airlines Inc.                            24679
Endeavor Air Inc.                             23172
ExpressJet Airlines Inc.                      20144
Frontier Airlines Inc.                        17415
Allegiant Air                                 13667
Air Wisconsin Airlines Corp                   13400
Horizon Air                                   13087
Hawaiian Airlines Inc.                        10907
Capital Cargo International                    9954
GoJet Airlines, LLC d/b/a United Express       9554
Trans States Airlines                          9363
Compass Airlines                               8876
Commutair Aka Champlain Enterprises, Inc.      7143
Virgin America                                 1303
Empire Airlines Inc.                           1056
Peninsula Airways Inc.                          146
Cape Air                                        117
Name: Airline, dtype: int64
19393.0    182025
19790.0     89958
20304.0     86902
19977.0     83984
19805.0     82860
20409.0     41615
20452.0     33351
19930.0     29085
20398.0     27474
20416.0     24983
20397.0     24838
20378.0     24699
20363.0     23113
20366.0     20197
20436.0     17440
20368.0     13739
20046.0     13319
19687.0     13107
19690.0     10921
20427.0      9962
20500.0      9532
20237.0      9321
21167.0      8813
20445.0      7124
21171.0      1324
20263.0      1052
20225.0       142
20253.0       123
Name: Carrier_ID(DOT), dtype: int64

In [176]:
lbe = LabelEncoder()
train['Tail_Number'] = lbe.fit_transform(train['Tail_Number'])
train = train.drop('ID',axis=1)

In [177]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Month                     1000000 non-null  int64
 1   Day_of_Month              1000000 non-null  int64
 2   Estimated_Departure_Time  890981 non-null   float64
 3   Estimated_Arrival_Time    890960 non-null   float64
 4   Cancelled                 1000000 non-null  int64
 5   Diverted                  1000000 non-null  int64
 6   Origin_Airport_ID         1000000 non-null  int64
 7   Destination_Airport_ID    1000000 non-null  int64
 8   Distance                  1000000 non-null  float64
 9   Carrier_ID(DOT)           891003 non-null   float64
 10  Tail_Number               1000000 non-null  int64
 11  Delay                     255001 non-null   object
dtypes: float64(4), int64(7), object(1)
memory usage: 91.6+ MB

In [183]:
test_ = train[train['Delay'].isnull()]
# test_ = test_.dropna()
test_ = test_.drop('Delay',axis=1)
test_ = test_.dropna()
test_

,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number
1,8,15,740.0,1024.0,0,0,13930,14869,1250.0,20304.0,310
2,9,6,1610.0,1805.0,0,0,11057,12953,544.0,19805.0,140
4,1,11,900.0,1019.0,0,0,14771,10157,250.0,20304.0,556
7,4,20,1815.0,1955.0,0,0,13930,13198,403.0,20304.0,173
9,6,6,650.0,838.0,0,0,12992,12266,374.0,20366.0,468
...,...,...,...,...,...,...,...,...,...,...,...
999993,10,17,603.0,755.0,0,0,12264,11292,1452.0,20436.0,1538
999995,9,18,936.0,1243.0,0,0,13930,14100,678.0,19977.0,2477
999997,6,28,800.0,1340.0,0,0,13796,12191,1642.0,19393.0,994
999998,9,27,1613.0,1824.0,0,0,10693,10397,214.0,19790.0,6207
999999,3,26,1800.0,2056.0,0,0,14635,11433,1084.0,19790.0,3667

In [179]:
train_ = pd.DataFrame()
train_ = pd.concat([train_,train[train['Delay']=='Not_Delayed']])
train_ = pd.concat([train_,train[train['Delay']=='Delayed']])
train_ = train_.dropna()
train_

,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Delay
8,6,13,1420.0,1550.0,0,0,10821,11057,361.0,19393.0,4083,Not_Delayed
13,9,19,615.0,706.0,0,0,13158,11292,563.0,20304.0,579,Not_Delayed
19,7,14,1907.0,2145.0,0,0,10529,10397,859.0,19790.0,6147,Not_Delayed
32,6,20,750.0,1014.0,0,0,13930,12945,323.0,20366.0,327,Not_Delayed
42,10,24,1005.0,1130.0,0,0,13930,15016,258.0,20237.0,4766,Not_Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...
999816,11,6,2115.0,2348.0,0,0,13930,11076,360.0,20304.0,6171,Delayed
999843,6,13,1749.0,1850.0,0,0,13342,13930,67.0,20237.0,263,Delayed
999955,4,12,1310.0,1356.0,0,0,14747,14057,129.0,19687.0,2250,Delayed
999963,5,2,1759.0,1926.0,0,0,12953,11278,214.0,20452.0,5204,Delayed
999969,10,10,940.0,1056.0,0,0,13256,12266,316.0,20378.0,5350,Delayed

In [185]:
target = 'Delay'
features = ['Month',
 'Day_of_Month',
 'Estimated_Departure_Time',
 'Estimated_Arrival_Time',
 'Cancelled',
 'Diverted',
 'Origin_Airport_ID',
 'Destination_Airport_ID',
 'Distance',
 'Carrier_ID(DOT)',
 'Tail_Number']

In [190]:
train_ = train_.reset_index(drop=True)

In [191]:
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import log_loss
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import GridSearchCV
from tqdm import tqdm

kf = KFold(n_splits = 10, random_state = 41, shuffle = True)
models = []
val_scores = []
preds = []

params = {
'n_estimators':5000,
'max_depth':6,
'early_stopping_rounds':200,
'learning_rate':0.01,
'one_hot_max_size':3,
'bootstrap_type':"MVS",
'l2_leaf_reg':2,
'random_state':41
         }

# bundle = [CatBoostClassifier, LGBMClassifier, XGBClassifier]
# for model in bundle:
# model = CatBoostClassifier(**params)
for i, (train_index, val_index) in tqdm(enumerate(kf.split(train_, train_[target]))):

        # clf.fit(train_x, train_y)

        X_train, X_val = train_[features].loc[train_index], train_[features].loc[val_index]
        y_train, y_val = train_[target][train_index], train_[target][val_index]

        model = CatBoostClassifier(**params)

        model.fit(X_train, y_train, eval_set = [(X_val, y_val)], verbose = 2000)

        models.append(model)
        score = log_loss(y_val, model.predict_proba(X_val))

        val_scores.append(score)

0it [00:00, ?it/s]

0:	learn: 0.6878246	test: 0.6878318	best: 0.6878318 (0)	total: 73.7ms	remaining: 6m 8s
2000:	learn: 0.4346923	test: 0.4399201	best: 0.4399201 (2000)	total: 19.7s	remaining: 29.5s
4000:	learn: 0.4256457	test: 0.4381414	best: 0.4381414 (4000)	total: 40.9s	remaining: 10.2s

1it [00:51, 51.94s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4379769934
bestIteration = 4781

Shrink model to first 4782 iterations.
0:	learn: 0.6878312	test: 0.6877737	best: 0.6877737 (0)	total: 11.5ms	remaining: 57.6s
2000:	learn: 0.4349094	test: 0.4379959	best: 0.4379959 (2000)	total: 20.8s	remaining: 31.1s
4000:	learn: 0.4258807	test: 0.4362211	best: 0.4362172 (3991)	total: 42s	remaining: 10.5s

2it [01:45, 52.67s/it]

4999:	learn: 0.4221625	test: 0.4359015	best: 0.4358958 (4955)	total: 52.6s	remaining: 0us

bestTest = 0.435895815
bestIteration = 4955

Shrink model to first 4956 iterations.
0:	learn: 0.6878335	test: 0.6877697	best: 0.6877697 (0)	total: 9.31ms	remaining: 46.5s
2000:	learn: 0.4348811	test: 0.4380906	best: 0.4380906 (2000)	total: 20.8s	remaining: 31.2s
4000:	learn: 0.4259608	test: 0.4366152	best: 0.4366110 (3984)	total: 41.5s	remaining: 10.4s

3it [02:37, 52.40s/it]

4999:	learn: 0.4222818	test: 0.4363688	best: 0.4363669 (4848)	total: 51.5s	remaining: 0us

bestTest = 0.4363669251
bestIteration = 4848

Shrink model to first 4849 iterations.
0:	learn: 0.6878229	test: 0.6877832	best: 0.6877832 (0)	total: 9.78ms	remaining: 48.9s
2000:	learn: 0.4350468	test: 0.4374792	best: 0.4374764 (1998)	total: 19.7s	remaining: 29.5s
4000:	learn: 0.4261429	test: 0.4355653	best: 0.4355638 (3998)	total: 39.6s	remaining: 9.89s

4it [03:26, 51.26s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4353263327
bestIteration = 4739

Shrink model to first 4740 iterations.
0:	learn: 0.6877943	test: 0.6878810	best: 0.6878810 (0)	total: 10.2ms	remaining: 50.9s
2000:	learn: 0.4337593	test: 0.4485379	best: 0.4485379 (2000)	total: 19.7s	remaining: 29.5s
4000:	learn: 0.4248790	test: 0.4465748	best: 0.4465733 (3990)	total: 39.9s	remaining: 9.95s

5it [04:17, 50.97s/it]

4999:	learn: 0.4212399	test: 0.4463168	best: 0.4463164 (4998)	total: 49.9s	remaining: 0us

bestTest = 0.4463164023
bestIteration = 4998

Shrink model to first 4999 iterations.
0:	learn: 0.6877682	test: 0.6878275	best: 0.6878275 (0)	total: 9.32ms	remaining: 46.6s
2000:	learn: 0.4337862	test: 0.4482005	best: 0.4482005 (2000)	total: 19.7s	remaining: 29.5s
4000:	learn: 0.4248295	test: 0.4466605	best: 0.4466605 (4000)	total: 39.7s	remaining: 9.91s

6it [05:07, 50.73s/it]

4999:	learn: 0.4211573	test: 0.4463838	best: 0.4463811 (4993)	total: 49.7s	remaining: 0us

bestTest = 0.4463811068
bestIteration = 4993

Shrink model to first 4994 iterations.
0:	learn: 0.6878143	test: 0.6878450	best: 0.6878450 (0)	total: 8.06ms	remaining: 40.3s
2000:	learn: 0.4344233	test: 0.4434948	best: 0.4434948 (2000)	total: 19.5s	remaining: 29.3s
4000:	learn: 0.4255569	test: 0.4414661	best: 0.4414556 (3979)	total: 39.5s	remaining: 9.86s

7it [05:57, 50.50s/it]

4999:	learn: 0.4218616	test: 0.4411287	best: 0.4411287 (4999)	total: 49.5s	remaining: 0us

bestTest = 0.4411287297
bestIteration = 4999

0:	learn: 0.6878228	test: 0.6878182	best: 0.6878182 (0)	total: 8.74ms	remaining: 43.7s
2000:	learn: 0.4345808	test: 0.4414654	best: 0.4414654 (2000)	total: 20.7s	remaining: 31.1s
4000:	learn: 0.4255697	test: 0.4398018	best: 0.4398018 (4000)	total: 41.9s	remaining: 10.5s

8it [06:50, 51.33s/it]

4999:	learn: 0.4218350	test: 0.4396035	best: 0.4396015 (4976)	total: 52.5s	remaining: 0us

bestTest = 0.4396014641
bestIteration = 4976

Shrink model to first 4977 iterations.
0:	learn: 0.6878323	test: 0.6877875	best: 0.6877875 (0)	total: 10.2ms	remaining: 51s
2000:	learn: 0.4349536	test: 0.4371951	best: 0.4371951 (2000)	total: 20.7s	remaining: 31.1s
4000:	learn: 0.4260268	test: 0.4359337	best: 0.4358961 (3914)	total: 41.9s	remaining: 10.5s

9it [07:34, 48.92s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4358960655
bestIteration = 3914

Shrink model to first 3915 iterations.
0:	learn: 0.6878307	test: 0.6877816	best: 0.6877816 (0)	total: 11.4ms	remaining: 57.2s
2000:	learn: 0.4350448	test: 0.4360157	best: 0.4360157 (2000)	total: 20.8s	remaining: 31.1s
4000:	learn: 0.4261070	test: 0.4345308	best: 0.4345214 (3988)	total: 42s	remaining: 10.5s

10it [08:25, 50.55s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4343794712
bestIteration = 4627

Shrink model to first 4628 iterations.

In [192]:
val_scores

[0.43797699335876283,
 0.4358958149772492,
 0.43636692508490377,
 0.4353263327329921,
 0.4463164023101533,
 0.4463811067884916,
 0.4411287296930336,
 0.439601464129778,
 0.4358960654834986,
 0.43437947119816384]

In [193]:
cat_preds = []
for model in models[:10]:
    preds = model.predict_proba(test_[features])
    cat_preds.append(preds)

In [198]:
pred = np.array(cat_preds).mean(axis=0)
test_['Delay'] = [np.argmax(i) for i in pred]
test_

,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Delay
1,8,15,740.0,1024.0,0,0,13930,14869,1250.0,20304.0,310,1
2,9,6,1610.0,1805.0,0,0,11057,12953,544.0,19805.0,140,1
4,1,11,900.0,1019.0,0,0,14771,10157,250.0,20304.0,556,1
7,4,20,1815.0,1955.0,0,0,13930,13198,403.0,20304.0,173,1
9,6,6,650.0,838.0,0,0,12992,12266,374.0,20366.0,468,1
...,...,...,...,...,...,...,...,...,...,...,...,...
999993,10,17,603.0,755.0,0,0,12264,11292,1452.0,20436.0,1538,1
999995,9,18,936.0,1243.0,0,0,13930,14100,678.0,19977.0,2477,1
999997,6,28,800.0,1340.0,0,0,13796,12191,1642.0,19393.0,994,1
999998,9,27,1613.0,1824.0,0,0,10693,10397,214.0,19790.0,6207,1
999999,3,26,1800.0,2056.0,0,0,14635,11433,1084.0,19790.0,3667,1

In [203]:
model.classes_

array(['Delayed', 'Not_Delayed'], dtype=object)

In [230]:
lbe = LabelEncoder()
train_['Delay'] = lbe.fit_transform(train_['Delay'])
lbe.classes_

array(['Delayed', 'Not_Delayed'], dtype=object)

In [233]:
train_

,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Delay
0,6,13,1420.0,1550.0,0,0,10821,11057,361.0,19393.0,4083,1
1,9,19,615.0,706.0,0,0,13158,11292,563.0,20304.0,579,1
2,7,14,1907.0,2145.0,0,0,10529,10397,859.0,19790.0,6147,1
3,6,20,750.0,1014.0,0,0,13930,12945,323.0,20366.0,327,1
4,10,24,1005.0,1130.0,0,0,13930,15016,258.0,20237.0,4766,1
...,...,...,...,...,...,...,...,...,...,...,...,...
180470,11,6,2115.0,2348.0,0,0,13930,11076,360.0,20304.0,6171,0
180471,6,13,1749.0,1850.0,0,0,13342,13930,67.0,20237.0,263,0
180472,4,12,1310.0,1356.0,0,0,14747,14057,129.0,19687.0,2250,0
180473,5,2,1759.0,1926.0,0,0,12953,11278,214.0,20452.0,5204,0
180474,10,10,940.0,1056.0,0,0,13256,12266,316.0,20378.0,5350,0

In [234]:
test_

,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Delay
1,8,15,740.0,1024.0,0,0,13930,14869,1250.0,20304.0,310,1
2,9,6,1610.0,1805.0,0,0,11057,12953,544.0,19805.0,140,1
4,1,11,900.0,1019.0,0,0,14771,10157,250.0,20304.0,556,1
7,4,20,1815.0,1955.0,0,0,13930,13198,403.0,20304.0,173,1
9,6,6,650.0,838.0,0,0,12992,12266,374.0,20366.0,468,1
...,...,...,...,...,...,...,...,...,...,...,...,...
999993,10,17,603.0,755.0,0,0,12264,11292,1452.0,20436.0,1538,1
999995,9,18,936.0,1243.0,0,0,13930,14100,678.0,19977.0,2477,1
999997,6,28,800.0,1340.0,0,0,13796,12191,1642.0,19393.0,994,1
999998,9,27,1613.0,1824.0,0,0,10693,10397,214.0,19790.0,6207,1
999999,3,26,1800.0,2056.0,0,0,14635,11433,1084.0,19790.0,3667,1

In [12]:
NaN_col = ['Origin_State','Destination_State','Airline','Estimated_Departure_Time', 'Estimated_Arrival_Time','Carrier_Code(IATA)','Carrier_ID(DOT)']

for col in NaN_col:
#     mode = train[col].mode()[0]
#     train[col] = train[col].fillna(mode)
    
    if col in test.columns:
        test[col] = test[col].fillna(train[col].mode()[0])
print('Done.')

qual_col = ['Origin_Airport', 'Origin_State', 'Destination_Airport', 'Destination_State', 'Airline', 'Carrier_Code(IATA)', 'Tail_Number']

for i in qual_col:
    le = LabelEncoder()
    le=le.fit(train[i])
    train[i]=le.transform(train[i])
    
    for label in np.unique(test[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test[i]=le.transform(test[i])
print('Done.')

Done.
Done.

In [13]:
# train = train.dropna()
# column_number = {}
# for i, column in enumerate(sample_submission.columns):
#     column_number[column] = i
    
# def to_number(x, dic):
#     return dic[x]

# train.loc[:, 'Delay_num'] = train['Delay'].apply(lambda x: to_number(x, column_number))
# print('Done.')

In [14]:
# train['Delay'] = le.fit_transform(train['Delay'])

In [15]:
train = train.drop(columns=['ID'])
train = train.reset_index(drop=True)

# train_y = train['Delay_num']
# train_y = train_y.reset_index(drop=True)

test = test.drop(columns=['ID'])

In [17]:
target = 'Delay'
features = [c for c in train.columns if c not in [target]]

In [19]:
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import log_loss
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import GridSearchCV
from tqdm import tqdm

kf = KFold(n_splits = 10, random_state = 41, shuffle = True)
models = []
val_scores = []
preds = []

params = {
'n_estimators':5000,
'max_depth':6,
'early_stopping_rounds':200,
'learning_rate':0.01,
'one_hot_max_size':3,
'bootstrap_type':"MVS",
'l2_leaf_reg':2,
'random_state':41
         }

# bundle = [CatBoostClassifier, LGBMClassifier, XGBClassifier]
# for model in bundle:
# model = CatBoostClassifier(**params)
for i, (train_index, val_index) in tqdm(enumerate(kf.split(train, train[target]))):

        # clf.fit(train_x, train_y)

        X_train, X_val = train[features].loc[train_index], train[features].loc[val_index]
        y_train, y_val = train[target][train_index], train[target][val_index]

        model = CatBoostClassifier(**params)

        model.fit(X_train, y_train, eval_set = [(X_val, y_val)], verbose = 2000)

        models.append(model)
        score = log_loss(y_val, model.predict_proba(X_val))

        val_scores.append(score)

0it [00:00, ?it/s]

0:	learn: 0.6878222	test: 0.6877996	best: 0.6877996 (0)	total: 65.5ms	remaining: 5m 27s
2000:	learn: 0.4282721	test: 0.4355061	best: 0.4355061 (2000)	total: 17.3s	remaining: 25.9s
4000:	learn: 0.4145342	test: 0.4346265	best: 0.4345817 (3881)	total: 35.3s	remaining: 8.8s

1it [00:36, 36.49s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4345817178
bestIteration = 3881

Shrink model to first 3882 iterations.
0:	learn: 0.6878308	test: 0.6877573	best: 0.6877573 (0)	total: 9.58ms	remaining: 47.9s
2000:	learn: 0.4281822	test: 0.4368638	best: 0.4368638 (2000)	total: 17.5s	remaining: 26.2s
4000:	learn: 0.4145818	test: 0.4357239	best: 0.4357239 (4000)	total: 35.1s	remaining: 8.77s

2it [01:16, 38.45s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4356648997
bestIteration = 4270

Shrink model to first 4271 iterations.
0:	learn: 0.6878093	test: 0.6878128	best: 0.6878128 (0)	total: 10.1ms	remaining: 50.7s
2000:	learn: 0.4279416	test: 0.4401181	best: 0.4401172 (1997)	total: 17.4s	remaining: 26s
4000:	learn: 0.4143673	test: 0.4385490	best: 0.4385205 (3958)	total: 34.7s	remaining: 8.67s

3it [02:00, 40.92s/it]

4999:	learn: 0.4085766	test: 0.4383592	best: 0.4383583 (4984)	total: 43.3s	remaining: 0us

bestTest = 0.4383582895
bestIteration = 4984

Shrink model to first 4985 iterations.
0:	learn: 0.6877971	test: 0.6878528	best: 0.6878528 (0)	total: 10.8ms	remaining: 53.9s
2000:	learn: 0.4271292	test: 0.4458772	best: 0.4458609 (1984)	total: 17.3s	remaining: 25.9s

4it [02:22, 33.62s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4456582468
bestIteration = 2313

Shrink model to first 2314 iterations.
0:	learn: 0.6878297	test: 0.6877745	best: 0.6877745 (0)	total: 10.4ms	remaining: 52.1s
2000:	learn: 0.4284997	test: 0.4332948	best: 0.4332947 (1999)	total: 20.5s	remaining: 30.7s
4000:	learn: 0.4151070	test: 0.4325099	best: 0.4325077 (3998)	total: 39.4s	remaining: 9.84s

5it [03:08, 38.13s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4324245893
bestIteration = 4470

Shrink model to first 4471 iterations.
0:	learn: 0.6878182	test: 0.6877851	best: 0.6877851 (0)	total: 8.19ms	remaining: 40.9s
2000:	learn: 0.4283868	test: 0.4366076	best: 0.4366073 (1999)	total: 19.2s	remaining: 28.7s
4000:	learn: 0.4147686	test: 0.4354361	best: 0.4354305 (3989)	total: 37.9s	remaining: 9.47s

6it [03:50, 39.32s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4353388641
bestIteration = 4156

Shrink model to first 4157 iterations.
0:	learn: 0.6878089	test: 0.6878194	best: 0.6878194 (0)	total: 8.19ms	remaining: 40.9s
2000:	learn: 0.4281582	test: 0.4388975	best: 0.4388948 (1998)	total: 17.8s	remaining: 26.6s
4000:	learn: 0.4145497	test: 0.4379087	best: 0.4378892 (3966)	total: 35.7s	remaining: 8.9s

7it [04:29, 39.28s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4378590408
bestIteration = 4115

Shrink model to first 4116 iterations.
0:	learn: 0.6878170	test: 0.6877953	best: 0.6877953 (0)	total: 13ms	remaining: 1m 4s
2000:	learn: 0.4279234	test: 0.4382728	best: 0.4382712 (1998)	total: 18.1s	remaining: 27.2s
4000:	learn: 0.4144513	test: 0.4365915	best: 0.4365781 (3858)	total: 36.2s	remaining: 9.04s

8it [05:11, 40.20s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4364941164
bestIteration = 4382

Shrink model to first 4383 iterations.
0:	learn: 0.6877933	test: 0.6878703	best: 0.6878703 (0)	total: 11.4ms	remaining: 56.9s
2000:	learn: 0.4270324	test: 0.4471126	best: 0.4471126 (2000)	total: 17.9s	remaining: 26.9s

9it [05:48, 39.01s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4462912209
bestIteration = 3682

Shrink model to first 3683 iterations.
0:	learn: 0.6878013	test: 0.6878305	best: 0.6878305 (0)	total: 9.21ms	remaining: 46s
2000:	learn: 0.4276933	test: 0.4419723	best: 0.4419723 (2000)	total: 19s	remaining: 28.4s
4000:	learn: 0.4141680	test: 0.4412495	best: 0.4412383 (3856)	total: 37.4s	remaining: 9.34s

10it [06:26, 38.66s/it]

Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4412382792
bestIteration = 3856

Shrink model to first 3857 iterations.

In [20]:
val_scores

[0.43458171775239673,
 0.4356648996813724,
 0.4383582894949309,
 0.44565824682683775,
 0.43242458927469923,
 0.4353388641482646,
 0.43785904076377596,
 0.43649411638636254,
 0.44629122094531626,
 0.4412382792435065]

In [21]:
cat_preds = []
for model in models[:10]:
    preds = model.predict_proba(test[features])
    cat_preds.append(preds)

In [33]:
cat_preds

[array([[0.22113619, 0.77886381],
        [0.19566839, 0.80433161],
        [0.31759269, 0.68240731],
        ...,
        [0.25149195, 0.74850805],
        [0.13303926, 0.86696074],
        [0.12975944, 0.87024056]]),
 array([[0.16978971, 0.83021029],
        [0.19426276, 0.80573724],
        [0.30265477, 0.69734523],
        ...,
        [0.25165676, 0.74834324],
        [0.11926982, 0.88073018],
        [0.12793548, 0.87206452]]),
 array([[0.18750157, 0.81249843],
        [0.20600966, 0.79399034],
        [0.31656755, 0.68343245],
        ...,
        [0.26617674, 0.73382326],
        [0.11567346, 0.88432654],
        [0.13150554, 0.86849446]]),
 array([[0.18531055, 0.81468945],
        [0.180164  , 0.819836  ],
        [0.3176459 , 0.6823541 ],
        ...,
        [0.26510609, 0.73489391],
        [0.12152297, 0.87847703],
        [0.12414252, 0.87585748]]),
 array([[0.18999597, 0.81000403],
        [0.19659713, 0.80340287],
        [0.35342903, 0.64657097],
        ...,
        [0.26449943, 0.73550057],
        [0.11230266, 0.88769734],
        [0.13832864, 0.86167136]]),
 array([[0.20246016, 0.79753984],
        [0.1966834 , 0.8033166 ],
        [0.30653117, 0.69346883],
        ...,
        [0.25570905, 0.74429095],
        [0.14487465, 0.85512535],
        [0.12883914, 0.87116086]]),
 array([[0.19623309, 0.80376691],
        [0.21971872, 0.78028128],
        [0.30194352, 0.69805648],
        ...,
        [0.27442207, 0.72557793],
        [0.15164942, 0.84835058],
        [0.12962311, 0.87037689]]),
 array([[0.20903313, 0.79096687],
        [0.19173165, 0.80826835],
        [0.31507288, 0.68492712],
        ...,
        [0.27234242, 0.72765758],
        [0.1253398 , 0.8746602 ],
        [0.13076637, 0.86923363]]),
 array([[0.18392956, 0.81607044],
        [0.18303825, 0.81696175],
        [0.30654891, 0.69345109],
        ...,
        [0.26086626, 0.73913374],
        [0.13177964, 0.86822036],
        [0.12255745, 0.87744255]]),
 array([[0.19848031, 0.80151969],
        [0.19991937, 0.80008063],
        [0.33055781, 0.66944219],
        ...,
        [0.2590352 , 0.7409648 ],
        [0.10637822, 0.89362178],
        [0.1248528 , 0.8751472 ]])]

In [22]:
pred = np.array(cat_preds).mean(axis=0)

submission = pd.DataFrame(data=pred, columns=sample_submission.columns, index=sample_submission.index)
submission.to_csv('baseline_submission.csv', index=True)