In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [10]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [3]:
X_train = train.drop(['ID','착과량(int)'], axis=1)
y_train = train['착과량(int)']

In [56]:
train.iloc[:,6:95]

,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,2022-09-05 새순,2022-09-06 새순,2022-09-07 새순,2022-09-08 새순,2022-09-09 새순,2022-09-10 새순,...,2022-11-19 새순,2022-11-20 새순,2022-11-21 새순,2022-11-22 새순,2022-11-23 새순,2022-11-24 새순,2022-11-25 새순,2022-11-26 새순,2022-11-27 새순,2022-11-28 새순
0,2.8,2.8,2.7,2.7,2.7,2.7,2.6,2.6,2.6,2.6,...,0.9,0.8,0.8,0.8,0.7,0.7,0.7,0.7,0.7,0.6
1,3.3,3.3,3.3,3.2,3.2,3.1,3.1,3.1,3.0,3.0,...,0.7,0.7,0.6,0.6,0.6,0.5,0.0,0.0,0.0,0.0
2,3.0,2.9,2.9,2.9,2.9,2.8,2.8,2.8,2.8,2.7,...,0.8,0.8,0.7,0.7,0.7,0.7,0.6,0.6,0.6,0.5
3,3.1,3.0,3.0,3.0,3.0,2.9,2.9,2.9,2.8,2.8,...,0.9,0.9,0.9,0.8,0.8,0.8,0.8,0.7,0.7,0.7
4,3.7,3.6,3.6,3.6,3.5,3.5,3.5,3.4,3.4,3.3,...,0.9,0.9,0.8,0.8,0.8,0.7,0.7,0.7,0.6,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,4.7,4.6,4.5,4.5,4.4,4.4,4.3,4.3,4.2,4.2,...,0.8,0.8,0.8,0.7,0.7,0.6,0.6,0.5,0.0,0.0
2203,3.1,3.0,3.0,3.0,2.9,2.9,2.9,2.9,2.8,2.8,...,0.9,0.9,0.8,0.8,0.8,0.7,0.7,0.7,0.7,0.6
2204,3.0,3.0,2.9,2.9,2.9,2.9,2.8,2.8,2.8,2.8,...,0.8,0.8,0.7,0.7,0.7,0.7,0.6,0.6,0.6,0.5
2205,3.9,3.9,3.8,3.8,3.8,3.7,3.7,3.6,3.6,3.6,...,0.8,0.8,0.8,0.7,0.7,0.7,0.6,0.6,0.5,0.0
2206,5.3,5.2,5.2,5.1,5.0,5.0,4.9,4.9,4.8,4.8,...,0.9,0.8,0.8,0.7,0.7,0.6,0.6,0.5,0.0,0.0

In [57]:
train.iloc[:,96:]

,2022-09-02 엽록소,2022-09-03 엽록소,2022-09-04 엽록소,2022-09-05 엽록소,2022-09-06 엽록소,2022-09-07 엽록소,2022-09-08 엽록소,2022-09-09 엽록소,2022-09-10 엽록소,2022-09-11 엽록소,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,78.243462,78.166501,78.127526,78.058021,77.915689,77.861660,77.746645,77.592138,77.572477,77.382045,...,70.978249,70.876794,70.705253,70.559603,70.427356,70.340491,70.293830,70.262422,70.169841,70.043251
1,79.974397,79.890399,79.709278,79.531061,79.348139,79.151023,79.128739,79.084197,78.924476,78.893248,...,71.535483,71.382303,71.253604,71.092665,70.955608,70.796630,70.597550,70.565088,70.560502,70.427600
2,78.941452,78.928197,78.741878,78.713691,78.654247,78.461743,78.323264,78.219696,78.123820,78.036095,...,71.279804,71.199570,71.144020,71.026740,70.920038,70.876723,70.710129,70.595971,70.418203,70.399578
3,77.839523,77.815607,77.644644,77.546555,77.480441,77.383665,77.282036,77.126354,77.121300,77.043015,...,69.934615,69.884124,69.845683,69.794682,69.779813,69.614644,69.455404,69.281590,69.238689,69.133970
4,76.186572,76.031032,75.886553,75.736449,75.735036,75.642223,75.458496,75.380945,75.272054,75.098676,...,68.313016,68.285364,68.209860,68.209458,68.040083,67.859963,67.775556,67.701456,67.504244,67.410093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,73.876933,73.853205,73.721799,73.666974,73.540144,73.449933,73.349051,73.310852,73.273704,73.095956,...,66.347384,66.293609,66.193131,66.176590,66.109845,66.008775,65.889675,65.734066,65.586656,65.560547
2203,81.898801,81.769536,81.607251,81.456723,81.408951,81.312932,81.181893,81.027196,81.010124,80.856318,...,73.438844,73.432194,73.355195,73.329491,73.271361,73.088750,73.071705,73.069036,72.952559,72.944396
2204,75.451905,75.315223,75.252547,75.186170,75.099348,75.093451,75.050447,74.877088,74.711044,74.594046,...,67.576066,67.404347,67.394009,67.247428,67.117025,66.933771,66.734617,66.572095,66.506006,66.479459
2205,74.017373,73.886675,73.720486,73.712709,73.532512,73.352104,73.230786,73.183439,73.006241,72.871891,...,66.766379,66.602606,66.510781,66.334637,66.323613,66.248731,66.202532,66.108962,65.934979,65.812084
2206,80.687949,80.517089,80.339555,80.157257,79.970405,79.781988,79.764210,79.724992,79.591028,79.448285,...,72.885385,72.734930,72.629823,72.454654,72.389570,72.271680,72.208433,72.070977,71.872453,71.870512

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingRegressor

model1 = RandomForestRegressor()
model2 = ExtraTreesRegressor()
model3 = GradientBoostingRegressor()
bundle = [model1,model2,model3]
for i in range(100):
    model1 = RandomForestRegressor(random_state=i)
    model1.fit(X_train, y_train)
    pred = model1.predict(test.drop(['ID'], axis=1))
    sample_submission = pd.read_csv('./bagging.csv')
    sample_submission[f'{i}'] = pred
    sample_submission.to_csv('./bagging.csv', index=False)

In [8]:
# sample_submission = pd.read_csv('./sample_submission.csv')
# sample_submission['착과량(int)'] = pred
# sample_submission.to_csv('./submit.csv', index=False)

In [33]:
temp = pd.read_csv('./bagging.csv')
temp

,Unnamed: 0,ID,착과량(int),RandomForestRegressor(),0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
0,0,TEST_0000,0,247.79,237.67,244.97,242.44,241.61,243.69,244.34,...,245.32,242.05,239.53,242.49,245.47,244.06,248.47,238.68,244.15,247.75
1,1,TEST_0001,0,748.75,744.82,746.77,746.97,749.37,746.21,747.39,...,749.05,743.17,741.82,748.23,748.53,750.60,748.22,746.06,745.18,748.54
2,2,TEST_0002,0,152.45,152.88,152.78,158.00,161.92,154.75,153.16,...,156.47,153.68,153.83,147.72,156.00,158.33,150.63,155.47,153.79,154.65
3,3,TEST_0003,0,446.95,445.75,440.82,443.04,448.67,448.46,442.82,...,447.26,451.71,441.44,447.85,445.01,447.76,442.42,444.78,443.13,441.91
4,4,TEST_0004,0,667.48,677.81,667.82,666.42,668.86,672.17,666.51,...,659.07,671.37,663.94,668.10,655.95,658.43,672.09,665.83,660.33,666.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,2203,TEST_2203,0,757.66,752.83,758.11,759.68,755.25,754.08,756.42,...,757.90,758.21,758.36,759.55,756.24,758.90,760.18,759.15,756.49,755.53
2204,2204,TEST_2204,0,309.16,326.66,313.50,314.63,314.10,319.95,305.90,...,320.47,320.92,301.26,323.28,328.37,307.80,315.53,323.81,315.73,309.91
2205,2205,TEST_2205,0,364.66,359.81,363.14,365.23,365.65,367.82,359.13,...,367.96,364.24,365.86,364.91,365.23,362.22,362.03,362.07,355.06,365.20
2206,2206,TEST_2206,0,247.57,239.55,249.48,243.78,239.47,243.57,241.97,...,236.49,241.51,247.40,246.55,246.66,241.56,241.31,236.05,242.11,244.63
2207,2207,TEST_2207,0,120.92,122.76,121.24,121.07,123.15,122.10,119.50,...,117.54,127.10,120.20,121.82,126.27,124.95,120.65,117.38,114.56,114.22

In [39]:
temp.iloc[:,3:].mean(axis=1)

0       243.631881
1       747.025149
2       154.579604
3       445.063762
4       664.984059
           ...
2203    757.481188
2204    315.347822
2205    362.986337
2206    243.856040
2207    121.631089
Length: 2208, dtype: float64

In [42]:
tp = pd.read_csv('./sample_submission.csv')
tp['착과량(int)'] = temp.iloc[:,3:].mean(axis=1)
tp.to_csv('./submit.csv', index=False)