In [1]:
import random
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split

import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader

from rdkit import DataStructs
from rdkit.Chem import PandasTools, AllChem
import tensorflow as tf

In [2]:
def seed_everything(seed):
    random.seed(seed)
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    torch.manual_seed(seed)
    tf.random.set_seed(seed)

seed_everything(42) # Seed 고정

In [3]:
train = pd.read_csv('./train.csv')
train = train.groupby('SMILES').mean().reset_index()
test = pd.read_csv('./test.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_17632\946614270.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  train = train.groupby('SMILES').mean().reset_index()

In [3]:
import seaborn as sns
for i in train.columns[3:]:
    sns.distplot(train[i])
    sns.distplot(test[i])
    plt.show()

NameError: name 'train' is not defined

In [4]:
train = train[train.Num_H_Donors < 7]
train = train[train.Num_RotatableBonds < 20]
train = train[train.AlogP > -3]
print(train.describe())
print(test.describe())

# test.describe()

               MLM          HLM        AlogP  Molecular_Weight  \
count  3456.000000  3456.000000  3456.000000       3456.000000
mean     37.337354    53.139955     2.840858        362.394647
std      35.651062    36.057320     1.576301         75.452551
min       0.000000     0.000000    -2.414000        172.180000
25%       2.453000    16.044750     1.833000        304.346000
50%      26.145500    58.083000     2.879000        349.426500
75%      70.722500    87.772500     3.954750        408.493250
max     131.720000   135.336000     9.190000        730.737000

       Num_H_Acceptors  Num_H_Donors  Num_RotatableBonds         LogD  \
count      3456.000000   3456.000000         3456.000000  3456.000000
mean          3.984086      1.083912            4.527778     2.680341
std           1.441992      0.924293            2.231814     1.641791
min           0.000000      0.000000            0.000000    -3.322000
25%           3.000000      0.000000            3.000000     1.617750
50%           4.000000      1.000000            4.000000     2.703000
75%           5.000000      2.000000            6.000000     3.858000
max          12.000000      6.000000           17.000000     9.190000

       Molecular_PolarSurfaceArea
count                 3456.000000
mean                    79.270014
std                     27.901652
min                      3.240000
25%                     59.810000
50%                     77.245000
75%                     96.240000
max                    211.950000
            AlogP  Molecular_Weight  Num_H_Acceptors  Num_H_Donors  \
count  482.000000        483.000000       483.000000    483.000000
mean     2.666079        356.671234         4.026915      1.070393
std      1.681634         74.602665         1.642694      0.976494
min     -2.303000        250.214000         0.000000      0.000000
25%      1.562500        304.328500         3.000000      0.000000
50%      2.652000        341.404000         4.000000      1.000000
75%      3.712000        397.018000         5.000000      2.000000
max      9.711000        674.869000        15.000000      6.000000

       Num_RotatableBonds        LogD  Molecular_PolarSurfaceArea
count          483.000000  483.000000                  483.000000
mean             4.490683    2.483039                   78.629379
std              2.335327    1.793923                   27.626975
min              0.000000   -2.371000                    8.170000
25%              3.000000    1.282500                   59.740000
50%              4.000000    2.506000                   76.770000
75%              6.000000    3.620000                   95.575000
max             18.000000    9.711000                  200.000000

In [5]:
PandasTools.AddMoleculeColumnToFrame(train,'SMILES','Molecule')
PandasTools.AddMoleculeColumnToFrame(test,'SMILES','Molecule')
def mol2fp(mol):
    fp = AllChem.GetHashedMorganFingerprint(mol, 8, nBits=4096*2)
    ar = np.zeros((1,), dtype=np.int8)
    DataStructs.ConvertToNumpyArray(fp, ar)
    return ar

train["FPs"] = train.Molecule.apply(mol2fp)
test["FPs"] = test.Molecule.apply(mol2fp)

droping = []
tp = pd.DataFrame(train['SMILES'].str.contains('e'))
droping.extend(list(tp[tp['SMILES'] == True].index))
tp = pd.DataFrame(train['SMILES'].str.contains('I'))
droping.extend(list(tp[tp['SMILES'] == True].index))
tp = pd.DataFrame(train['SMILES'].str.contains('6'))
droping.extend(list(tp[tp['SMILES'] == True].index))

train = train.drop(droping)

feed = [list(i) for i in train.FPs]
# feed.extend([list(reversed(i)) for i in train.FPs])
feed = np.array(feed)
feed_test = np.array([list(i) for i in test.FPs])

In [7]:
feed.shape

(3441, 8192)

In [84]:
tp = [[j for j in i] for i in train['SMILES']]
ans = []
for i in tp:
    ans.extend(i)
    
import collections
data = pd.DataFrame([collections.Counter(ans).keys(),collections.Counter(ans).values()]).transpose()
data.columns = ['atom','counter']
data.sort_values('counter',ascending=False).reset_index(drop=True)

   atom counter
0     c   39264
1     C   25700
2     (   14618
3     )   14618
4     1   10186
5     O    8400
6     2    8150
7     n    6743
8     =    5689
9     N    4742
10    3    3874
11    [    1295
12    ]    1295
13    -    1284
14    H    1163
15    4     978
16    S     828
17    l     775
18    @     735
19    F     690
20    s     570
21    o     485
22    /     288
23    B     280
24    r     280
25    #     148
26    5     148
27    \      78
28    +      18

In [85]:
test['SMILES'] = [i.replace('P','') for i in test['SMILES']]
tp = [[j for j in i] for i in test['SMILES']]
ans = []
for i in tp:
    ans.extend(i)
    
import collections
data = pd.DataFrame([collections.Counter(ans).keys(),collections.Counter(ans).values()]).transpose()
data.columns = ['atom','counter']
data.sort_values('counter',ascending=False).reset_index(drop=True)

   atom counter
0     c    5169
1     C    3720
2     )    1926
3     (    1926
4     1    1382
5     2    1164
6     O    1143
7     n     965
8     =     751
9     N     683
10    3     538
11    -     177
12    [     162
13    ]     162
14    H     157
15    4     144
16    S      94
17    @      88
18    l      84
19    s      83
20    F      80
21    o      64
22    r      44
23    B      44
24    /      41
25    5      26
26    #      23
27    \       7
28    +       1

In [86]:
tp = [[j for j in i] for i in test['SMILES']]
ans = []
for i in tp:
    ans.extend(i)
    
import collections
data_t = pd.DataFrame([collections.Counter(ans).keys(),collections.Counter(ans).values()]).transpose()
data_t.columns = ['atom','counter']
data_t.sort_values('counter',ascending=False).reset_index(drop=True)

vectorizer_rule = pd.merge(data,data_t,how='left',on='atom').sort_values('counter_x',ascending=False).reset_index(drop=True)
vectorizer_rule

   atom counter_x counter_y
0     c      5169      5169
1     C      3720      3720
2     )      1926      1926
3     (      1926      1926
4     1      1382      1382
5     2      1164      1164
6     O      1143      1143
7     n       965       965
8     =       751       751
9     N       683       683
10    3       538       538
11    -       177       177
12    [       162       162
13    ]       162       162
14    H       157       157
15    4       144       144
16    S        94        94
17    @        88        88
18    l        84        84
19    s        83        83
20    F        80        80
21    o        64        64
22    r        44        44
23    B        44        44
24    /        41        41
25    5        26        26
26    #        23        23
27    \         7         7
28    +         1         1

In [300]:
tp = [[j for j in i] for i in train['SMILES']]

In [301]:
vectorizer_rule = {vectorizer_rule.loc[i,'atom']:i for i in range(len(vectorizer_rule))}

AttributeError: 'dict' object has no attribute 'loc'

In [302]:
max([len([vectorizer_rule[j] for j in i]) for i in tp])

99

In [303]:
vector = [[vectorizer_rule[j] for j in i] for i in tp]
# max_len = max([len([vectorizer_rule[j] for j in i]) for i in tp])
# for i in vector:
#     i.extend([0 for _ in range(max_len-len(i))])
    
train['SMILES'] = vector
train['lenS'] = [len(i) for i in vector]
train.describe()

,MLM,HLM,AlogP,Molecular_Weight,Num_H_Acceptors,Num_H_Donors,Num_RotatableBonds,LogD,Molecular_PolarSurfaceArea,lenS
count,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000,3441.000000
mean,37.251523,53.116251,2.839206,362.134844,3.983726,1.083987,4.530950,2.678582,79.280372,44.199070
std,35.646792,36.056933,1.578057,75.323242,1.441604,0.923959,2.232487,1.643904,27.899518,10.238957
min,0.000000,0.000000,-2.414000,172.180000,0.000000,0.000000,0.000000,-3.322000,3.240000,18.000000
25%,2.442000,16.029000,1.829000,304.343000,3.000000,0.000000,3.000000,1.609000,59.810000,37.000000
50%,25.940000,58.066000,2.878000,349.339000,4.000000,1.000000,4.000000,2.703000,77.230000,43.000000
75%,70.700000,87.770000,3.954000,408.371000,5.000000,2.000000,6.000000,3.857000,96.240000,50.000000
max,131.720000,135.336000,9.190000,730.737000,12.000000,6.000000,17.000000,9.190000,211.950000,99.000000

In [304]:
vector = [[vectorizer_rule[j] for j in i] for i in tp]
max_len = max([len([vectorizer_rule[j] for j in i]) for i in tp])
for i in vector:
    i.extend([0 for _ in range(max_len-len(i))])
    
from sklearn.decomposition import PCA
pca = PCA(n_components=64)
train_vec = pca.fit_transform(vector)
train_vec

array([[-7.78030031e+00,  9.98210758e+00,  8.76794067e+00, ...,
        -1.04019346e-01,  4.65155052e-02,  2.17907754e-01],
       [-2.26054469e+00,  8.95656823e-01,  7.20882070e+00, ...,
         1.21835386e-01, -3.25413308e-02,  8.87940633e-02],
       [-7.85477586e-01,  2.72635322e+00,  6.86334641e+00, ...,
        -5.06530906e-01, -5.28209011e-02, -1.04249029e-01],
       ...,
       [ 1.45719132e+01, -6.25587741e+00, -5.60715474e+00, ...,
        -1.36688776e-01,  2.87135099e-01, -6.22903404e-02],
       [-4.21368896e+00, -6.23270295e+00, -4.30323426e+00, ...,
         2.05413789e-01,  7.09767238e-02,  1.68442555e-01],
       [ 7.85832981e+00,  6.38205219e-01, -2.15823686e+00, ...,
         1.41589275e-02,  9.06890244e-02,  1.06039933e-01]])

In [325]:
np.concatenate((train_vec,feed),axis=1).shape

(3441, 8256)

In [8]:
# This function keeps the initial learning rate for the first ten epochs
# and decreases it exponentially after that.
def scheduler(epoch, lr):
    if epoch%5 == 0:
        return lr
    else:
        return lr * tf.math.exp(-0.1)

# model = tf.keras.models.Sequential([tf.keras.layers.Dense(10)])
# model.compile(tf.keras.optimizers.SGD(), loss='mse')
# round(model.optimizer.lr.numpy(), 5)
# callback = tf.keras.callbacks.LearningRateScheduler(scheduler)
# history = model.fit(np.arange(100).reshape(5, 20), np.zeros(5),
#                     epochs=15, callbacks=[callback], verbose=0)
# round(model.optimizer.lr.numpy(), 5)

In [12]:
feed = pd.read_csv('./data.csv')
feed = feed.drop(['Unnamed: 0','id','SMILES','HLM'],axis=1)
feed

,MLM,AlogP,Molecular_Weight,Num_H_Acceptors,Num_H_Donors,Num_RotatableBonds,LogD,Molecular_PolarSurfaceArea,s_form,r_form,...,feature_207,feature_208,feature_209,feature_210,feature_211,feature_212,feature_213,feature_214,feature_215,feature_216
0,26.010,3.259,400.495,5,2,8,3.259,117.37,0,0,...,2,0,1,0,0,0,4,0,0,0
1,29.270,2.169,301.407,2,1,2,2.172,73.47,0,0,...,2,0,0,0,0,0,4,0,0,0
2,5.710,4.771,494.652,6,0,5,3.475,92.60,0,0,...,4,0,0,0,0,0,6,0,0,0
3,27.640,1.335,419.422,4,1,7,1.335,78.95,0,0,...,0,1,0,0,1,0,2,0,0,0
4,82.107,1.954,547.707,7,4,9,0.464,144.42,0,0,...,0,0,0,0,0,0,6,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,1.556,3.409,396.195,3,1,5,3.409,64.74,0,0,...,0,2,0,0,0,0,0,0,0,0
2727,35.560,1.912,359.381,4,1,3,1.844,77.37,0,0,...,0,0,0,0,0,0,11,0,0,0
2728,56.150,1.941,261.320,3,1,6,2.124,70.14,0,0,...,1,0,0,0,0,0,3,0,0,0
2729,0.030,0.989,284.696,5,1,5,0.989,91.51,0,0,...,0,0,0,0,0,0,2,0,0,0
2730,0.450,4.321,295.399,2,0,4,4.321,50.36,0,0,...,1,0,1,0,0,0,9,0,0,0

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Dense, Conv1D, MaxPooling1D, GlobalAvgPool1D, Flatten, Dropout, Normalization, AveragePooling1D, AveragePooling2D, GaussianNoise
from sklearn.model_selection import train_test_split
import numpy as np
from tensorflow.keras.optimizers import Adam,Adagrad


X_numeric = feed.drop('MLM',axis=1)
y_regression = np.array(list(feed['MLM']))

X_train, X_test, y_train, y_test = train_test_split(X_numeric, y_regression, test_size=0.1, random_state=219842194)

model = Sequential()
# model.add(Dense(units=256, activation='relu', input_dim=X_numeric.shape[1]))
model.add(Conv1D(filters=64, kernel_size=4, activation='relu', input_shape=(X_numeric.shape[1], 1)))
model.add(AveragePooling1D(pool_size=4))
model.add(Conv1D(filters=128, kernel_size=4, activation='relu', input_shape=(X_numeric.shape[1], 1)))
model.add(AveragePooling1D(pool_size=4))
model.add(Dropout(0.5))

# model.add(Conv1D(filters=32, kernel_size=8, activation='relu'))
# model.add(AveragePooling1D(pool_size=8))
# model.add(Dropout(0.5))
model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(1))

custom_learning_rate = 0.005
adam_optimizer = Adam(learning_rate=custom_learning_rate)
model.compile(optimizer=adam_optimizer, loss='mean_squared_error', metrics=[tf.keras.metrics.RootMeanSquaredError()])

model.summary()
callback = tf.keras.callbacks.LearningRateScheduler(scheduler)
history = model.fit(X_train, y_train, epochs=20, batch_size=2, validation_split=0.1)

# 모델 평가 (RMSE는 평가 함수에 RMSE 지표가 포함되어 있어야 함)
loss, rmse = model.evaluate(X_test, y_test)
print(f"평가 손실 (MSE): {loss}")
print(f"평가 RMSE: {rmse}")

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_4 (Conv1D)           (None, 230, 64)           320

 average_pooling1d_4 (Averag  (None, 57, 64)           0
 ePooling1D)

 conv1d_5 (Conv1D)           (None, 54, 128)           32896

 average_pooling1d_5 (Averag  (None, 13, 128)          0
 ePooling1D)

 dropout_4 (Dropout)         (None, 13, 128)           0

 flatten_2 (Flatten)         (None, 1664)              0

 dense_6 (Dense)             (None, 128)               213120

 dense_7 (Dense)             (None, 16)                2064

 dropout_5 (Dropout)         (None, 16)                0

 dense_8 (Dense)             (None, 1)                 17

=================================================================
Total params: 248,417
Trainable params: 248,417
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
1106/1106 [==============================] - 22s 20ms/step - loss: 1285.7701 - root_mean_squared_error: 35.8576 - val_loss: 823.3033 - val_root_mean_squared_error: 28.6933
Epoch 2/20
1106/1106 [==============================] - 22s 20ms/step - loss: 1034.3834 - root_mean_squared_error: 32.1618 - val_loss: 774.2220 - val_root_mean_squared_error: 27.8248
Epoch 3/20
1106/1106 [==============================] - 23s 20ms/step - loss: 1063.3188 - root_mean_squared_error: 32.6086 - val_loss: 1032.8533 - val_root_mean_squared_error: 32.1380
Epoch 4/20
1106/1106 [==============================] - 21s 19ms/step - loss: 985.2115 - root_mean_squared_error: 31.3881 - val_loss: 892.9579 - val_root_mean_squared_error: 29.8824
Epoch 5/20
1106/1106 [==============================] - 24s 21ms/step - loss: 1001.7847 - root_mean_squared_error: 31.6510 - val_loss: 852.2891 - val_root_mean_squared_error: 29.1940
Epoch 6/20
1106/1106 [==============================] - 27s 25ms/step - loss: 920.6453 - root_mean_squared_error: 30.3421 - val_loss: 689.8354 - val_root_mean_squared_error: 26.2647
Epoch 7/20
1106/1106 [==============================] - 22s 20ms/step - loss: 894.8379 - root_mean_squared_error: 29.9138 - val_loss: 679.3710 - val_root_mean_squared_error: 26.0647
Epoch 8/20
1106/1106 [==============================] - 25s 23ms/step - loss: 910.6033 - root_mean_squared_error: 30.1762 - val_loss: 712.0389 - val_root_mean_squared_error: 26.6841
Epoch 9/20
1106/1106 [==============================] - 28s 25ms/step - loss: 863.2760 - root_mean_squared_error: 29.3816 - val_loss: 726.3956 - val_root_mean_squared_error: 26.9517
Epoch 10/20
1106/1106 [==============================] - 20s 18ms/step - loss: 890.3459 - root_mean_squared_error: 29.8387 - val_loss: 836.7520 - val_root_mean_squared_error: 28.9267
Epoch 11/20
1106/1106 [==============================] - 22s 20ms/step - loss: 827.8412 - root_mean_squared_error: 28.7722 - val_loss: 783.5014 - val_root_mean_squared_error: 27.9911
Epoch 12/20
1106/1106 [==============================] - 21s 19ms/step - loss: 820.4239 - root_mean_squared_error: 28.6430 - val_loss: 662.2935 - val_root_mean_squared_error: 25.7351
Epoch 13/20
1106/1106 [==============================] - 21s 19ms/step - loss: 808.2251 - root_mean_squared_error: 28.4293 - val_loss: 708.0520 - val_root_mean_squared_error: 26.6092
Epoch 14/20
1106/1106 [==============================] - 23s 20ms/step - loss: 849.7017 - root_mean_squared_error: 29.1496 - val_loss: 829.7130 - val_root_mean_squared_error: 28.8047
Epoch 15/20
1106/1106 [==============================] - 23s 21ms/step - loss: 812.5428 - root_mean_squared_error: 28.5051 - val_loss: 807.6421 - val_root_mean_squared_error: 28.4190
Epoch 16/20
1106/1106 [==============================] - 24s 22ms/step - loss: 821.8098 - root_mean_squared_error: 28.6672 - val_loss: 659.7985 - val_root_mean_squared_error: 25.6865
Epoch 17/20
1106/1106 [==============================] - 22s 20ms/step - loss: 812.1232 - root_mean_squared_error: 28.4978 - val_loss: 691.3740 - val_root_mean_squared_error: 26.2940
Epoch 18/20
1106/1106 [==============================] - 21s 19ms/step - loss: 793.8557 - root_mean_squared_error: 28.1754 - val_loss: 673.3941 - val_root_mean_squared_error: 25.9498
Epoch 19/20
1106/1106 [==============================] - 19s 17ms/step - loss: 782.5406 - root_mean_squared_error: 27.9739 - val_loss: 741.8354 - val_root_mean_squared_error: 27.2367
Epoch 20/20
1106/1106 [==============================] - 23s 21ms/step - loss: 762.0613 - root_mean_squared_error: 27.6055 - val_loss: 738.3826 - val_root_mean_squared_error: 27.1732
9/9 [==============================] - 0s 3ms/step - loss: 632.9708 - root_mean_squared_error: 25.1589
평가 손실 (MSE): 632.9708251953125
평가 RMSE: 25.158910751342773

In [ ]:
# history.history

In [15]:
loss, rmse = model.evaluate(X_test, y_test)
print(f"평가 손실 (MSE): {loss}")
print(f"평가 RMSE: {rmse}")

9/9 [==============================] - 0s 2ms/step - loss: 632.9708 - root_mean_squared_error: 25.1589
평가 손실 (MSE): 632.9708251953125
평가 RMSE: 25.158910751342773

In [25]:
# tp = [[j for j in i] for i in test['SMILES']]
# vector = [[vectorizer_rule[j] for j in i] for i in tp]
# max_len = max([len([vectorizer_rule[j] for j in i]) for i in tp])
# for i in vector:
#     i.extend([0 for _ in range(max_len-len(i))])
    
# from sklearn.decomposition import PCA
# pca = PCA(n_components=64)
# test_vec = pca.fit_transform(vector)
# test_vec
feed_test = pd.read_csv('./data_t.csv').drop(['Unnamed: 0'],axis=1)
feed_test
mlm = model.predict(feed_test)

16/16 [==============================] - 0s 2ms/step

In [34]:
feed = pd.read_csv('./hlm_train.csv').drop('Unnamed: 0',axis=1)
feed = feed.drop(['id','SMILES','MLM'],axis=1)

In [36]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv1D, MaxPooling1D, Flatten, Dropout, GlobalMaxPooling1D
from sklearn.model_selection import train_test_split
import numpy as np
from tensorflow.keras.optimizers import Adam


# 가상의 정형 데이터 생성
X_numeric = feed.drop('HLM',axis=1)  # 100개의 샘플과 5개의 특성
y_regression = feed['HLM'] # 회귀 타겟 값

X_train, X_test, y_train, y_test = train_test_split(X_numeric, y_regression, test_size=0.1, random_state=219842194)

model = Sequential()
# model.add(Dense(units=256, activation='relu', input_dim=X_numeric.shape[1]))
model.add(Conv1D(filters=64, kernel_size=4, activation='relu', input_shape=(X_numeric.shape[1], 1)))
model.add(AveragePooling1D(pool_size=4))
model.add(Conv1D(filters=128, kernel_size=4, activation='relu', input_shape=(X_numeric.shape[1], 1)))
model.add(AveragePooling1D(pool_size=4))
model.add(Dropout(0.5))

# model.add(Conv1D(filters=32, kernel_size=8, activation='relu'))
# model.add(AveragePooling1D(pool_size=8))
# model.add(Dropout(0.5))
model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(1))

custom_learning_rate = 0.005
adam_optimizer = Adam(learning_rate=custom_learning_rate)
model.compile(optimizer=adam_optimizer, loss='mean_squared_error', metrics=[tf.keras.metrics.RootMeanSquaredError()])

model.summary()
callback = tf.keras.callbacks.LearningRateScheduler(scheduler)
history = model.fit(X_train, y_train, epochs=20, batch_size=2, validation_split=0.1)

# 모델 평가 (RMSE는 평가 함수에 RMSE 지표가 포함되어 있어야 함)
loss, rmse = model.evaluate(X_test, y_test)
print(f"평가 손실 (MSE): {loss}")
print(f"평가 RMSE: {rmse}")

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_10 (Conv1D)          (None, 230, 64)           320

 average_pooling1d_6 (Averag  (None, 57, 64)           0
 ePooling1D)

 conv1d_11 (Conv1D)          (None, 54, 128)           32896

 average_pooling1d_7 (Averag  (None, 13, 128)          0
 ePooling1D)

 dropout_10 (Dropout)        (None, 13, 128)           0

 flatten_5 (Flatten)         (None, 1664)              0

 dense_15 (Dense)            (None, 128)               213120

 dense_16 (Dense)            (None, 16)                2064

 dropout_11 (Dropout)        (None, 16)                0

 dense_17 (Dense)            (None, 1)                 17

=================================================================
Total params: 248,417
Trainable params: 248,417
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20

C:\Users\User\anaconda3\envs\git_repo\lib\site-packages\keras\engine\data_adapter.py:1508: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

1064/1064 [==============================] - 22s 20ms/step - loss: 1785.4713 - root_mean_squared_error: 42.2548 - val_loss: 1092.6389 - val_root_mean_squared_error: 33.0551
Epoch 2/20
1064/1064 [==============================] - 22s 20ms/step - loss: 1437.2028 - root_mean_squared_error: 37.9105 - val_loss: 1389.3860 - val_root_mean_squared_error: 37.2745
Epoch 3/20
1064/1064 [==============================] - 22s 21ms/step - loss: 1420.6001 - root_mean_squared_error: 37.6908 - val_loss: 974.9933 - val_root_mean_squared_error: 31.2249
Epoch 4/20
1064/1064 [==============================] - 26s 24ms/step - loss: 1415.8217 - root_mean_squared_error: 37.6274 - val_loss: 1085.1008 - val_root_mean_squared_error: 32.9409
Epoch 5/20
1064/1064 [==============================] - 24s 22ms/step - loss: 1356.0553 - root_mean_squared_error: 36.8247 - val_loss: 1019.2148 - val_root_mean_squared_error: 31.9251
Epoch 6/20
1064/1064 [==============================] - 28s 27ms/step - loss: 1255.7723 - root_mean_squared_error: 35.4369 - val_loss: 904.3862 - val_root_mean_squared_error: 30.0730
Epoch 7/20
1064/1064 [==============================] - 24s 23ms/step - loss: 1234.0131 - root_mean_squared_error: 35.1285 - val_loss: 913.0133 - val_root_mean_squared_error: 30.2161
Epoch 8/20
1064/1064 [==============================] - 22s 21ms/step - loss: 1248.1350 - root_mean_squared_error: 35.3290 - val_loss: 959.5625 - val_root_mean_squared_error: 30.9768
Epoch 9/20
1064/1064 [==============================] - 27s 26ms/step - loss: 1176.4872 - root_mean_squared_error: 34.3000 - val_loss: 958.0790 - val_root_mean_squared_error: 30.9529
Epoch 10/20
1064/1064 [==============================] - 23s 21ms/step - loss: 1145.2527 - root_mean_squared_error: 33.8416 - val_loss: 934.1010 - val_root_mean_squared_error: 30.5631
Epoch 11/20
1064/1064 [==============================] - 25s 24ms/step - loss: 1181.0096 - root_mean_squared_error: 34.3658 - val_loss: 928.7724 - val_root_mean_squared_error: 30.4758
Epoch 12/20
1064/1064 [==============================] - 24s 23ms/step - loss: 1111.9994 - root_mean_squared_error: 33.3467 - val_loss: 934.3591 - val_root_mean_squared_error: 30.5673
Epoch 13/20
1064/1064 [==============================] - 24s 22ms/step - loss: 1082.5018 - root_mean_squared_error: 32.9014 - val_loss: 1113.8788 - val_root_mean_squared_error: 33.3748
Epoch 14/20
1064/1064 [==============================] - 30s 28ms/step - loss: 1095.1880 - root_mean_squared_error: 33.0936 - val_loss: 903.9927 - val_root_mean_squared_error: 30.0665
Epoch 15/20
1064/1064 [==============================] - 30s 29ms/step - loss: 1059.2157 - root_mean_squared_error: 32.5456 - val_loss: 961.5926 - val_root_mean_squared_error: 31.0096
Epoch 16/20
1064/1064 [==============================] - 23s 22ms/step - loss: 1080.1780 - root_mean_squared_error: 32.8661 - val_loss: 1138.0237 - val_root_mean_squared_error: 33.7346
Epoch 17/20
1064/1064 [==============================] - 22s 21ms/step - loss: 1066.9103 - root_mean_squared_error: 32.6636 - val_loss: 935.2777 - val_root_mean_squared_error: 30.5823
Epoch 18/20
1064/1064 [==============================] - 21s 20ms/step - loss: 1052.8092 - root_mean_squared_error: 32.4470 - val_loss: 860.8024 - val_root_mean_squared_error: 29.3394
Epoch 19/20
1064/1064 [==============================] - 25s 24ms/step - loss: 1023.3434 - root_mean_squared_error: 31.9897 - val_loss: 1012.8900 - val_root_mean_squared_error: 31.8259
Epoch 20/20
1064/1064 [==============================] - 21s 20ms/step - loss: 1027.5730 - root_mean_squared_error: 32.0558 - val_loss: 878.8217 - val_root_mean_squared_error: 29.6449
9/9 [==============================] - 0s 3ms/step - loss: 738.9925 - root_mean_squared_error: 27.1844
평가 손실 (MSE): 738.9924926757812
평가 RMSE: 27.184415817260742

In [37]:
loss, rmse = model.evaluate(X_test, y_test)
print(f"평가 손실 (MSE): {loss}")
print(f"평가 RMSE: {rmse}")

9/9 [==============================] - 0s 2ms/step - loss: 738.9925 - root_mean_squared_error: 27.1844
평가 손실 (MSE): 738.9924926757812
평가 RMSE: 27.184415817260742

In [38]:
# tp = [[j for j in i] for i in test['SMILES']]
# vector = [[vectorizer_rule[j] for j in i] for i in tp]
# max_len = max([len([vectorizer_rule[j] for j in i]) for i in tp])
# for i in vector:
#     i.extend([0 for _ in range(max_len-len(i))])
    
# from sklearn.decomposition import PCA
# pca = PCA(n_components=64)
# test_vec = pca.fit_transform(vector)
# test_vec

feed_test = pd.read_csv('./data_t.csv').drop(['Unnamed: 0'],axis=1)
feed_test
hlm = model.predict(feed_test)

16/16 [==============================] - 0s 2ms/step

In [39]:
sub = pd.read_csv('./sample_submission.csv')
sub['MLM'] = mlm
sub['HLM'] = hlm
sub = sub.set_index('id')
sub.to_csv('./submission.csv')