In [113]:
import pandas as pd

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [122]:
import random
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split

import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader

from rdkit import DataStructs
from rdkit.Chem import PandasTools, AllChem
from rdkit import Chem
from rdkit.Chem import Descriptors
from pycaret import regression

In [123]:
train = pd.read_csv('./train.csv')
train = train.groupby('SMILES').mean().reset_index()
train['Molecular_Weight'] = [Descriptors.MolWt(Chem.MolFromSmiles(i)) for i in train['SMILES']]
train['Numbond'] = [Chem.MolFromSmiles(i).GetNumBonds() for i in train['SMILES']]
train['HeavyAtoms'] = [Chem.MolFromSmiles(i).GetNumHeavyAtoms() for i in train['SMILES']]
train['AlogP'] = [Descriptors.MolLogP(Chem.MolFromSmiles(i)) for i in train['SMILES']]


droping = []
tp = pd.DataFrame(train['SMILES'].str.contains('e'))
droping.extend(list(tp[tp['SMILES'] == True].index))
tp = pd.DataFrame(train['SMILES'].str.contains('I'))
droping.extend(list(tp[tp['SMILES'] == True].index))
tp = pd.DataFrame(train['SMILES'].str.contains('6'))
droping.extend(list(tp[tp['SMILES'] == True].index))
train = train.drop(droping)

# PandasTools.AddMoleculeColumnToFrame(train,'SMILES','Molecule')
# PandasTools.AddMoleculeColumnToFrame(test,'SMILES','Molecule')
# def mol2fp(mol):
#     fp = AllChem.GetHashedMorganFingerprint(mol, 6, nBits=64)
#     ar = np.zeros((1,), dtype=np.int8)
#     DataStructs.ConvertToNumpyArray(fp, ar)
#     return ar

# train["FPs"] = train.Molecule.apply(mol2fp)
# test["FPs"] = test.Molecule.apply(mol2fp)


mlm_train = train.drop(['SMILES','HLM'],axis=1)
hlm_train = train.drop(['SMILES','MLM'],axis=1)
train = train.reset_index(drop=True)

In [127]:
mlm_train = pd.concat([mlm_train,pd.DataFrame([list(i) for i in train.FPs])],axis=1)
mlm_train = mlm_train.dropna()
mlm_train = mlm_train.reset_index(drop=True)
mlm_train = mlm_train.drop(['FPs','Molecule'],axis=1)

In [120]:
# mlm_train = mlm_train.loc[:,['MLM','Molecular_Weight','AlogP','LogD','Molecular_PolarSurfaceArea']]

In [94]:
hlm_train = pd.concat([hlm_train,pd.DataFrame([list(i) for i in train.FPs])],axis=1)
hlm_train = hlm_train.dropna()
hlm_train = hlm_train.reset_index(drop=True)
hlm_train = hlm_train.drop(['FPs','Molecule'],axis=1)

In [116]:
test['Molecular_Weight'] = [Descriptors.MolWt(Chem.MolFromSmiles(i)) for i in test['SMILES']]
test['Numbond'] = [Chem.MolFromSmiles(i).GetNumBonds() for i in test['SMILES']]
test['HeavyAtoms'] = [Chem.MolFromSmiles(i).GetNumHeavyAtoms() for i in test['SMILES']]

smiles = test['SMILES'][10]
mol = Chem.MolFromSmiles(smiles)
alogp = Descriptors.MolLogP(mol)
test['AlogP'][10] = alogp
test['AlogP'] = [Descriptors.MolLogP(Chem.MolFromSmiles(i)) for i in test['SMILES']]

# test = pd.concat([test,pd.DataFrame([list(i) for i in test.FPs])],axis=1)
# test = test.drop(['id','SMILES','Molecule','FPs'],axis=1)
# test = test.astype('float64')
# test.columns = [str(i) for i in test.columns]

In [ ]:
regression.setup(data=mlm_train,target='MLM',
                 fold_strategy='kfold',
                 fold=5,
                 session_id=42,
                 outliers_threshold=0.05)

best = regression.compare_models(sort='RMSE',n_select=5)

Initiated  . . . . . . . . . . . . . . . . . .                      00:52:15
Status     . . . . . . . . . . . . . . . . . .               Fitting 5 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Lasso Least Angle Regression

Processing:   0%|          | 0/89 [00:00<?, ?it/s]

In [ ]:
best_tune = [regression.tune_model(i,fold=10) for i in best]

In [103]:
mlm = [i.predict(test) for i in best_tune]

In [104]:
# test = pd.read_csv('./test.csv')
# test['Molecular_Weight'] = [Descriptors.MolWt(Chem.MolFromSmiles(i)) for i in test['SMILES']]
# test['Numbond'] = [Chem.MolFromSmiles(i).GetNumBonds() for i in test['SMILES']]
# test['HeavyAtoms'] = [Chem.MolFromSmiles(i).GetNumHeavyAtoms() for i in test['SMILES']]

# smiles = test['SMILES'][10]
# mol = Chem.MolFromSmiles(smiles)
# alogp = Descriptors.MolLogP(mol)
# test['AlogP'][10] = alogp
# test['AlogP'] = [Descriptors.MolLogP(Chem.MolFromSmiles(i)) for i in test['SMILES']]

# test = test.drop(['id','SMILES'],axis=1)

# mlm = [i.predict(test) for i in best_tune]
# pred_mlm = np.array(mlm).mean(axis=0)

In [105]:
# train = pd.read_csv('./train.csv')
# train = train.groupby('SMILES').mean().reset_index()
# train['Molecular_Weight'] = [Descriptors.MolWt(Chem.MolFromSmiles(i)) for i in train['SMILES']]
# train['Numbond'] = [Chem.MolFromSmiles(i).GetNumBonds() for i in train['SMILES']]
# train['HeavyAtoms'] = [Chem.MolFromSmiles(i).GetNumHeavyAtoms() for i in train['SMILES']]
# train['AlogP'] = [Descriptors.MolLogP(Chem.MolFromSmiles(i)) for i in train['SMILES']]


# droping = []
# tp = pd.DataFrame(train['SMILES'].str.contains('e'))
# droping.extend(list(tp[tp['SMILES'] == True].index))
# tp = pd.DataFrame(train['SMILES'].str.contains('I'))
# droping.extend(list(tp[tp['SMILES'] == True].index))
# tp = pd.DataFrame(train['SMILES'].str.contains('6'))
# droping.extend(list(tp[tp['SMILES'] == True].index))
# droping
# train = train.drop(droping)


# hlm_train = train.drop(['SMILES','MLM'],axis=1)

regression.setup(data=hlm_train,target='HLM',
                 fold_strategy='kfold',
                 fold=5,
                 session_id=42)

best = regression.compare_models(sort='RMSE',n_select=5)

In [106]:
best_tune = [regression.tune_model(i,fold=10) for i in best]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [107]:
hlm = [i.predict(test) for i in best_tune]

In [13]:
# test = pd.read_csv('./test.csv')
# test['Molecular_Weight'] = [Descriptors.MolWt(Chem.MolFromSmiles(i)) for i in test['SMILES']]
# test['Numbond'] = [Chem.MolFromSmiles(i).GetNumBonds() for i in test['SMILES']]
# test['HeavyAtoms'] = [Chem.MolFromSmiles(i).GetNumHeavyAtoms() for i in test['SMILES']]

# smiles = test['SMILES'][10]
# mol = Chem.MolFromSmiles(smiles)
# alogp = Descriptors.MolLogP(mol)
# test['AlogP'][10] = alogp

# test['AlogP'] = [Descriptors.MolLogP(Chem.MolFromSmiles(i)) for i in test['SMILES']]

# test = test.drop(['id','SMILES'],axis=1)

# hlm = [i.predict(test) for i in best]
# pred_hlm = np.array(hlm).mean(axis=0)

In [111]:
pred_mlm = np.array(mlm).mean(axis=0)
pred_hlm = np.array(hlm).mean(axis=0)

In [112]:
sub = pd.read_csv('./sample_submission.csv')
sub['MLM'] = pred_mlm
sub['HLM'] = pred_hlm
sub = sub.set_index('id')
sub.to_csv('./submission.csv')