In [1]:
from pykrx import stock
import numpy as np
import collections
import pandas as pd
from tqdm import tqdm

# 종목 코드 가져오기 (종목명 또는 종목 코드를 사용할 수 있습니다)
# 예: 삼성전자 종목 코드
code = '005930'

# 특정 종목의 일별 주가 데이터 가져오기
df = stock.get_market_ohlcv_by_date("20230101", "20231001", code)

# 종목 정보 가져오기
info = stock.get_market_ticker_name(code)

# 출력
print("종목 코드:", code)
print("일별 주가 데이터:")
print(df)
print("종목 정보:")
print(info)

종목 코드: 005930
일별 주가 데이터:
               시가     고가     저가     종가       거래량
날짜
2023-01-02  55500  56100  55200  55500  10031448
2023-01-03  55400  56000  54500  55400  13547030
2023-01-04  55700  58000  55600  57800  20188071
2023-01-05  58200  58800  57600  58200  15682826
2023-01-06  58300  59400  57900  59000  17334989
...           ...    ...    ...    ...       ...
2023-09-21  69200  69800  68800  68900  10796336
2023-09-22  68300  68900  68300  68800   9897840
2023-09-25  68500  69700  68500  69400  13582516
2023-09-26  70000  70000  68400  68600  13143470
2023-09-27  68600  69100  68200  68400  14886491

[185 rows x 5 columns]
종목 정보:
삼성전자

In [2]:
test = stock.get_market_ohlcv_by_date("20230901", "20231010", code)
test = test.reset_index()
tp = test['종가'] - test['시가']
ans = []
for i in tp:
    if i >= 0:
        ans.append(1)
    else:
        ans.append(0)
        
test['sudo'] = ans
test

           날짜     시가     고가     저가     종가       거래량  sudo
0  2023-09-01  66800  71000  66700  71000  29738235     1
1  2023-09-04  72900  72900  70700  71200  26286495     0
2  2023-09-05  70900  71500  70200  70700  12330239     0
3  2023-09-06  70700  70800  69700  70000  11414620     0
4  2023-09-07  70000  70600  69600  70400  13741241     1
5  2023-09-08  70200  70300  69600  70300  10688118     1
6  2023-09-11  70400  70800  70000  70800  11785462     1
7  2023-09-12  70800  71000  70400  70500  11688599     0
8  2023-09-13  71100  71600  70300  70900  15955797     0
9  2023-09-14  71200  71800  70800  71700  21041407     1
10 2023-09-15  71700  72300  71400  72000  17823512     1
11 2023-09-18  71300  71700  70200  70200  16040727     0
12 2023-09-19  70400  70800  69600  69800  11820188     0
13 2023-09-20  70000  70300  69500  69600  10873015     0
14 2023-09-21  69200  69800  68800  68900  10796336     0
15 2023-09-22  68300  68900  68300  68800   9897840     1
16 2023-09-25  68500  69700  68500  69400  13582516     1
17 2023-09-26  70000  70000  68400  68600  13143470     0
18 2023-09-27  68600  69100  68200  68400  14886491     0
19 2023-10-04  67400  67700  66700  67500  23361149     1
20 2023-10-05  67300  67400  66700  66700  16108313     0
21 2023-10-06  67100  67300  66000  66000  14386527     0
22 2023-10-10  66200  67600  66200  66400  19114739     1

In [3]:
df = stock.get_market_ohlcv_by_date("20100101", "20230901", code)
df = df.reset_index()
tp = df['종가'] - df['시가']
ans = []
for i in tp:
    if i >= 0:
        ans.append(1)
    else:
        ans.append(0)
        
df['sudo'] = ans
df.head(30)

           날짜     시가     고가     저가     종가     거래량  sudo
0  2010-01-04  16060  16180  16000  16180  239271     1
1  2010-01-05  16520  16580  16300  16440  559219     0
2  2010-01-06  16580  16820  16520  16820  459755     1
3  2010-01-07  16820  16820  16260  16260  443237     0
4  2010-01-08  16400  16420  16120  16420  295798     1
5  2010-01-11  16420  16460  15940  15940  398901     0
6  2010-01-12  15940  16180  15900  16180  384460     1
7  2010-01-13  16100  16119  15940  15940  267619     0
8  2010-01-14  16120  16620  16000  16540  532705     1
9  2010-01-15  16640  16860  16580  16840  398401     1
10 2010-01-18  16800  16920  16560  16860  261691     1
11 2010-01-19  17000  17000  16440  16460  241308     0
12 2010-01-20  16460  16740  16460  16680  384306     1
13 2010-01-21  16400  17000  16400  17000  340148     1
14 2010-01-22  16800  16900  16360  16500  470536     0
15 2010-01-25  16320  16960  16300  16840  412797     1
16 2010-01-26  16920  16920  16240  16300  375210     0
17 2010-01-27  16300  16340  16000  16000  370760     0
18 2010-01-28  16160  16300  16060  16160  276614     1
19 2010-01-29  16000  16019  15600  15680  457285     0
20 2010-02-01  15679  15700  15300  15540  501042     0
21 2010-02-02  15800  15800  15400  15440  393803     0
22 2010-02-03  15640  15700  15360  15540  330235     0
23 2010-02-04  15500  15660  15440  15520  239799     1
24 2010-02-05  15160  15220  14940  15000  515034     0
25 2010-02-08  14940  15080  14820  14960  439608     1
26 2010-02-09  14959  15220  14840  15220  337459     1
27 2010-02-10  15260  15280  15039  15100  263846     0
28 2010-02-11  15140  15300  15120  15260  265050     1
29 2010-02-12  15340  15340  14900  15000  458574     0

In [4]:
df.tail(5)

             날짜     시가     고가     저가     종가       거래량  sudo
3370 2023-08-28  66800  67000  66500  66800   5824628     1
3371 2023-08-29  66900  67200  66600  66800   9114352     0
3372 2023-08-30  67300  67700  67100  67100   9181223     0
3373 2023-08-31  67100  67200  66400  66900  15964630     0
3374 2023-09-01  66800  71000  66700  71000  29738235     1

In [5]:
simulation = pd.DataFrame([str(ans[i-4])+ 
                           str(ans[i-3])+
                           str(ans[i-2])+
                           str(ans[i-1])+
                           str(ans[i]) for i in range(4,len(ans))])
simulation.columns = ['sudo']
proba = pd.DataFrame(simulation.value_counts(),columns=['count']).reset_index().sort_values('sudo')
proba['case'] = [i[:4] for i in proba['sudo']]
proba

     sudo  count  case
31  00000     80  0000
23  00001    100  0000
28  00010     96  0001
10  00011    109  0001
11  00100    107  0010
18  00101    103  0010
3   00110    116  0011
4   00111    115  0011
20  01000    102  0100
9   01001    110  0100
27  01010     98  0101
26  01011     98  0101
6   01100    113  0110
25  01101     98  0110
7   01110    113  0111
12  01111    106  0111
22  10000    100  1000
13  10001    106  1000
5   10010    114  1001
1   10011    122  1001
15  10100    105  1010
30  10101     93  1010
29  10110     95  1011
16  10111    104  1011
17  11000    104  1100
0   11001    126  1100
24  11010     99  1101
21  11011    101  1101
2   11100    117  1110
19  11101    102  1110
14  11110    106  1111
8   11111    113  1111

In [6]:
proba = proba.loc[:,['count','case']]
proba = proba.reset_index(drop=True)
proba

    count  case
0      80  0000
1     100  0000
2      96  0001
3     109  0001
4     107  0010
5     103  0010
6     116  0011
7     115  0011
8     102  0100
9     110  0100
10     98  0101
11     98  0101
12    113  0110
13     98  0110
14    113  0111
15    106  0111
16    100  1000
17    106  1000
18    114  1001
19    122  1001
20    105  1010
21     93  1010
22     95  1011
23    104  1011
24    104  1100
25    126  1100
26     99  1101
27    101  1101
28    117  1110
29    102  1110
30    106  1111
31    113  1111

In [37]:
sim_bagging = pd.DataFrame()

In [54]:
simul = pd.DataFrame()
# np.random.seed(42)
mc = 100
for i in tqdm(range(mc)):
    data = list(df.sudo)
    feed = 1
    for _ in range(len(test)):
        target = str(data[-4]) + str(data[-3]) + str(data[-2]) + str(data[-1])
        tp = proba[proba['case'] == target].reset_index(drop=True)
        # print(tp)
        if data[-1] == 0:
            if int(np.random.uniform(0,10000))/10000 > tp.loc[1,'count']/sum(tp['count']) + 0.002*feed:
                data.append(0)
                feed += 1
            else:
                data.append(1)
                feed = 1
        else:
            if int(np.random.uniform(0,10000))/10000 > tp.loc[1,'count']/sum(tp['count']) - 0.001*feed:
                data.append(0)
                feed = 1
            else:
                data.append(1)
                feed += 1
    simul[f'MC{i}'] = data[-len(test):]
sim_bagging['bag5'] = simul.sum(axis=1)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:01<00:00, 95.65it/s]

In [55]:
test['sim'] = simul.sum(axis=1)
test

           날짜     시가     고가     저가     종가       거래량  sudo  sim
0  2023-09-01  66800  71000  66700  71000  29738235     1   59
1  2023-09-04  72900  72900  70700  71200  26286495     0   50
2  2023-09-05  70900  71500  70200  70700  12330239     0   46
3  2023-09-06  70700  70800  69700  70000  11414620     0   50
4  2023-09-07  70000  70600  69600  70400  13741241     1   52
5  2023-09-08  70200  70300  69600  70300  10688118     1   49
6  2023-09-11  70400  70800  70000  70800  11785462     1   61
7  2023-09-12  70800  71000  70400  70500  11688599     0   54
8  2023-09-13  71100  71600  70300  70900  15955797     0   44
9  2023-09-14  71200  71800  70800  71700  21041407     1   58
10 2023-09-15  71700  72300  71400  72000  17823512     1   48
11 2023-09-18  71300  71700  70200  70200  16040727     0   55
12 2023-09-19  70400  70800  69600  69800  11820188     0   50
13 2023-09-20  70000  70300  69500  69600  10873015     0   45
14 2023-09-21  69200  69800  68800  68900  10796336     0   52
15 2023-09-22  68300  68900  68300  68800   9897840     1   40
16 2023-09-25  68500  69700  68500  69400  13582516     1   49
17 2023-09-26  70000  70000  68400  68600  13143470     0   49
18 2023-09-27  68600  69100  68200  68400  14886491     0   38
19 2023-10-04  67400  67700  66700  67500  23361149     1   42
20 2023-10-05  67300  67400  66700  66700  16108313     0   48
21 2023-10-06  67100  67300  66000  66000  14386527     0   42
22 2023-10-10  66200  67600  66200  66400  19114739     1   46

In [49]:
sim_bagging['label'] = test['sudo']
sim_bagging

    bag1  bag2  bag3  bag4  bag5  label
0     49    49    60    50    51      1
1     54    45    55    54    49      0
2     47    47    43    52    53      0
3     56    56    52    50    63      0
4     50    59    51    52    48      1
5     51    50    44    68    44      1
6     55    47    55    57    58      1
7     58    47    50    50    50      0
8     47    46    55    52    56      0
9     56    53    55    47    55      1
10    54    56    52    52    51      1
11    44    45    46    57    57      0
12    49    54    50    48    44      0
13    46    50    50    50    45      0
14    53    43    49    44    57      0
15    59    51    41    44    52      1
16    54    52    47    59    61      1
17    52    51    42    43    54      0
18    56    57    53    52    50      0
19    49    53    48    62    61      1
20    52    43    59    58    54      0
21    48    51    50    52    51      0
22    50    48    50    52    47      1