In [1]:
from glob import glob
import pandas as pd

In [2]:
def save_bundle_pred():
    file = glob('*.csv')
    prediction_tbl = pd.DataFrame()
    for i in file:
        prediction_tbl = pd.concat([prediction_tbl,pd.read_csv(i)])

    prediction_tbl.drop('Unnamed: 0',axis=1,inplace=True)
    prediction_tbl.sort_values('id',inplace=True)
    prediction_tbl.set_index('id',inplace=True)
    
    prediction_tbl.to_csv('./submit.csv')
    print('good :)')
    
save_bundle_pred()

good :)

In [3]:
pd.read_csv('./submit.csv')

                 id     target
0       TEST_000000  24.478834
1       TEST_000001  44.459730
2       TEST_000002  65.037370
3       TEST_000003  37.735584
4       TEST_000004  45.432038
...             ...        ...
291236  TEST_291236  48.108534
291237  TEST_291237  51.698269
291238  TEST_291238  22.499393
291239  TEST_291239  23.751366
291240  TEST_291240  46.815685

[291241 rows x 2 columns]