In [13]:
import pandas as pd

In [15]:
df = pd.read_csv('./repair2.csv')

In [16]:
df

,caseID,taskID,originator,eventtype,contact,RepairType,objectKey,RepairInternally,EstimatedRepairTime,RepairCode,RepairOK,date,time
0,419,InformClientSurvey,System,complete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-06,11:51
1,561,ArrangeSurvey,Monica,complete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-07,13:48
2,902,ReadyInformClient,System,complete,NaN,NaN,NaN,NaN,NaN,NaN,True,2020-01-08,16:20
3,18,Survey,Edd,start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-09,6:55
4,852,Survey,Edd,complete,NaN,NaN,NaN,True,240.0,1.0,NaN,2020-01-10,11:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13257,707,ArrangeSurvey,Dian,complete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-07,0:16
13258,25,ArrangeSurvey,Dian,start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-02,7:48
13259,762,ArrangeSurvey,Monica,start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-03,11:53
13260,12,InternRepair,Cindy,start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-08,18:10
13261,542,FirstContact,Monica,complete,Web,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-02,16:33

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13262 entries, 0 to 13261
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   caseID               13262 non-null  int64
 1   taskID               13260 non-null  object
 2   originator           13260 non-null  object
 3   eventtype            13257 non-null  object
 4   contact              1000 non-null   object
 5   RepairType           927 non-null    object
 6   objectKey            927 non-null    float64
 7   RepairInternally     927 non-null    object
 8   EstimatedRepairTime  927 non-null    float64
 9   RepairCode           927 non-null    float64
 10  RepairOK             1854 non-null   object
 11  date                 13249 non-null  object
 12  time                 13249 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 1.3+ MB

In [17]:
df.value_counts

<bound method DataFrame.value_counts of        caseID              taskID originator eventtype contact RepairType  \
0         419  InformClientSurvey     System  complete     NaN        NaN
1         561       ArrangeSurvey     Monica  complete     NaN        NaN
2         902   ReadyInformClient     System  complete     NaN        NaN
3          18              Survey        Edd     start     NaN        NaN
4         852              Survey        Edd  complete     NaN        NaN
...       ...                 ...        ...       ...     ...        ...
13257     707       ArrangeSurvey       Dian  complete     NaN        NaN
13258      25       ArrangeSurvey       Dian     start     NaN        NaN
13259     762       ArrangeSurvey     Monica     start     NaN        NaN
13260      12        InternRepair      Cindy     start     NaN        NaN
13261     542        FirstContact     Monica  complete     Web        NaN

       objectKey RepairInternally  EstimatedRepairTime  RepairCode RepairOK  \
0            NaN              NaN                  NaN         NaN      NaN
1            NaN              NaN                  NaN         NaN      NaN
2            NaN              NaN                  NaN         NaN     True
3            NaN              NaN                  NaN         NaN      NaN
4            NaN             True                240.0         1.0      NaN
...          ...              ...                  ...         ...      ...
13257        NaN              NaN                  NaN         NaN      NaN
13258        NaN              NaN                  NaN         NaN      NaN
13259        NaN              NaN                  NaN         NaN      NaN
13260        NaN              NaN                  NaN         NaN      NaN
13261        NaN              NaN                  NaN         NaN      NaN

             date   time
0      2020-01-06  11:51
1      2020-01-07  13:48
2      2020-01-08  16:20
3      2020-01-09   6:55
4      2020-01-10  11:33
...           ...    ...
13257  1970-01-07   0:16
13258  1970-01-02   7:48
13259  1970-01-03  11:53
13260  1970-01-08  18:10
13261  1970-01-02  16:33

[13262 rows x 13 columns]>