In [6]:
import random
import pandas as pd
import numpy as np
import os
import holidays
korea_holidays = holidays.SouthKorea(years=2024)

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

import warnings
warnings.filterwarnings(action='ignore') 

from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor
from pycaret import regression

In [7]:
def smape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred))
    diff = np.abs(y_true - y_pred)
    
    smape_val = 100 * np.mean(2 * diff / np.where(denominator == 0, 1e-8, denominator))
    return smape_val

In [20]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
submission = pd.read_csv('./sample_submission.csv')
info = pd.read_csv('./building_info.csv')

In [11]:
submission

         num_date_time  answer
0        1_20240825 00       0
1        1_20240825 01       0
2        1_20240825 02       0
3        1_20240825 03       0
4        1_20240825 04       0
...                ...     ...
16795  100_20240831 19       0
16796  100_20240831 20       0
16797  100_20240831 21       0
16798  100_20240831 22       0
16799  100_20240831 23       0

[16800 rows x 2 columns]

In [14]:
24*7*100 # 24시간 7일 100개건물

16800

In [24]:
print(info[:50])
print(info[50:])

    건물번호      건물유형     연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0      1        호텔   82912.710   77586.00         -            -         -
1      2        상용   40658.900   30392.82         -            -         -
2      3        병원  560431.000  418992.00    278.58            -         -
3      4        호텔   41813.290   23715.71         -            -         -
4      5        학교  403749.390  248507.00   1983.05         1025       250
5      6        상용  157835.000  157835.00         -            -         -
6      7      건물기타  118346.000   78237.38    389.76            -         -
7      8        학교  167751.000   82112.00    217.92            -         -
8      9        호텔  136757.000  109024.00         -            -         -
9     10        호텔  435993.500  341983.00         -            -         -
10    11       아파트  271233.000  233263.00         -            -         -
11    12        학교  581897.000  311452.00   1349.03            -         -
12    13       연구소   97372.120   44536.00       276            -         -
13    14        학교  504332.000  339131.00    849.78        101.5       101
14    15       연구소   86546.940   70321.12   1974.71          500       500
15    16        상용   47999.000   28795.00         -            -         -
16    17        병원   82573.610   68513.41         -            -         -
17    18       백화점   51123.000   21751.00         -            -         -
18    19       백화점   85264.460   34000.00        97            -         -
19    20        상용   44259.800   32639.29       100            -         -
20    21        병원   92149.000   75836.00    255.88            -         -
21    22        학교  230009.893  206138.00    879.82            -         -
22    23       연구소   84484.000   35742.00    858.02         3100      1500
23    24        학교  201828.930  161463.14     953.4            -         -
24    25       아파트  340630.000  247380.00         -            -         -
25    26      건물기타  215089.000  215089.00     83.95            -         -
26    27       백화점   66106.020   40000.00         -            -         -
27    28        호텔   43894.830    5619.70         -            -         -
28    29       백화점   54866.510   30953.00     97.85            -         -
29    30  IDC(전화국)   31156.750   13487.00         -            -         -
30    31       아파트  186132.260  122153.00         -            -         -
31    32       백화점   77917.000   35676.00         -            -         -
32    33        공공  138156.000   88119.00    344.96            -         -
33    34       백화점  335737.120  167868.56       342          205       500
34    35  IDC(전화국)   27966.920   20397.00         -            -         -
35    36  IDC(전화국)   32558.000   16873.00         -            -         -
36    37       연구소  124037.000   77267.00     12.24            -         -
37    38        공공   61375.470   19800.00      83.2            -         -
38    39        병원   99347.350   59803.08     74.25            -         -
39    40       백화점   57684.930   15770.32         -            -         -
40    41        상용   10064.000    1862.00         -            -         -
41    42        병원  188769.830  149413.74     140.6            -         -
42    43  IDC(전화국)   42035.260   34650.63     77.76            -         -
43    44        병원   61021.850   45061.76    198.56        469.2       150
44    45       백화점  196028.200   74378.25         -            -         -
45    46        학교  141963.910  135526.79         -            -         -
46    47      건물기타   80337.000   66947.00         -            -         -
47    48        병원  111633.000   72627.98     10.08            -         -
48    49       연구소   71602.640   57460.10    218.88            -         -
49    50        공공  135785.690  100746.20   1039.86            -         -
    건물번호      건물유형      연면적(m2)     냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
50    51        상용    18501.000    10466.000         -            -         -
51    52  IDC(전화국)    44676.670    26701.000       105            -         -
52    53       연구소    16014.230    16014.230    215.89            -         -
53    54       백화점   133899.430    66658.000         -            -         -
54    55        학교   361511.090   119266.500   1397.02         2000      1000
55    56        상용    10035.420     7593.530         -            -         -
56    57  IDC(전화국)    46850.270    13342.000     199.4            -         -
57    58      건물기타    95625.000    54824.000         -            -         -
58    59       백화점   169052.000    33867.000         -            -         -
59    60        학교   323610.600   194166.360     219.6            -         -
60    61      건물기타    45370.540    18125.000         -            -         -
61    62       연구소    66240.000    31867.000         -            -         -
62    63       백화점    51771.620    12066.860         -            -         -
63    64  IDC(전화국)    33861.670    19232.000       820            -         -
64    65       아파트   300496.816   183315.469         -            -         -
65    66        공공   145056.000    60193.000    540.57            -         -
66    67  IDC(전화국)    83432.350    27363.000     50.88            -         -
67    68        공공   111365.970    36356.070     94.38            -         -
68    69      건물기타   205637.340   174516.725   1297.98         1670       550
69    70       아파트   492485.514   415124.587         -            -         -
70    71       아파트   228427.470   131500.000         -            -         -
71    72        공공    77599.000    48251.000    1340.1         2000      1000
72    73       백화점   139042.610    85996.600       103            -         -
73    74       백화점   146518.000    98493.000         -            -         -
74    75        병원   129583.770    96896.000     419.2          150        75
75    76        상용    13824.640     1089.280        36            -         -
76    77        호텔    79953.780    58489.310         -            -         -
77    78      건물기타   194433.000    10435.000         -            -         -
78    79       백화점   338093.000   130928.200         -            -         -
79    80        공공   373141.000    75340.000    790.08        201.1       101
80    81  IDC(전화국)    36142.330      337.840         -            -         -
81    82      건물기타    83948.469    46397.000         -            -         -
82    83       연구소    72573.530    62015.990       605            -         -
83    84        호텔    95232.880    23603.000         -            -         -
84    85       아파트   252313.000   252257.000         -            -         -
85    86        상용   143730.110   100676.040       495            -         -
86    87        학교   596251.000   107436.000    282.95            -         -
87    88       백화점   129520.650    85751.070     38.88            -         -
88    89        호텔   303737.000   217825.560     77.38            -         -
89    90        병원    93084.160    70677.150       168            -         -
90    91       아파트   364652.770   243493.983         -            -         -
91    92        공공    27915.290     5628.000     322.9          209       100
92    93       아파트   308165.640    22210.390         -            -         -
93    94       연구소    48543.270    44576.270     99.64            -         -
94    95       백화점   110530.000    75876.780     20.25            -         -
95    96      건물기타  3260213.410  1956128.000         -            -         -
96    97      건물기타    42370.930     3975.520     81.38            -         -
97    98        호텔    99102.620    22097.000         -            -         -
98    99        상용   329867.950    13442.350     171.6            -         -
99   100        호텔   162070.240   152943.000         -            -         -

In [21]:
pd.DataFrame(info.groupby('건물유형'))[1][2]

    건물번호 건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
32    33   공공  138156.00   88119.00    344.96            -         -
37    38   공공   61375.47   19800.00      83.2            -         -
49    50   공공  135785.69  100746.20   1039.86            -         -
65    66   공공  145056.00   60193.00    540.57            -         -
67    68   공공  111365.97   36356.07     94.38            -         -
71    72   공공   77599.00   48251.00    1340.1         2000      1000
79    80   공공  373141.00   75340.00    790.08        201.1       101
91    92   공공   27915.29    5628.00     322.9          209       100

In [26]:
train[train['건물번호'] == 1]

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20240601 00,1,20240601 00,18.3,0.0,2.6,82.0,0.0,0.00,5794.80
1,1_20240601 01,1,20240601 01,18.3,0.0,2.7,82.0,0.0,0.00,5591.85
2,1_20240601 02,1,20240601 02,18.1,0.0,2.6,80.0,0.0,0.00,5338.17
3,1_20240601 03,1,20240601 03,18.0,0.0,2.6,81.0,0.0,0.00,4554.42
4,1_20240601 04,1,20240601 04,17.8,0.0,1.3,81.0,0.0,0.00,3602.25
...,...,...,...,...,...,...,...,...,...,...
2035,1_20240824 19,1,20240824 19,29.3,0.0,2.7,75.0,0.0,0.32,7216.53
2036,1_20240824 20,1,20240824 20,28.3,0.0,2.7,72.0,0.0,0.01,5860.98
2037,1_20240824 21,1,20240824 21,27.8,0.0,1.5,73.0,0.0,0.00,4135.86
2038,1_20240824 22,1,20240824 22,27.3,0.0,1.0,75.0,0.0,0.00,4571.97
2039,1_20240824 23,1,20240824 23,26.8,0.0,0.4,76.0,0.0,0.00,4499.01

In [27]:
test[test['건물번호'] == 1]

     num_date_time  건물번호           일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)
0    1_20240825 00     1  20240825 00    26.5      0.0      0.7   80.0
1    1_20240825 01     1  20240825 01    26.1      0.0      0.0   80.0
2    1_20240825 02     1  20240825 02    25.9      0.0      0.3   83.0
3    1_20240825 03     1  20240825 03    25.7      0.0      1.1   83.0
4    1_20240825 04     1  20240825 04    25.5      0.0      1.0   86.0
..             ...   ...          ...     ...      ...      ...    ...
163  1_20240831 19     1  20240831 19    29.7      0.0      2.5   53.0
164  1_20240831 20     1  20240831 20    28.8      0.0      2.2   56.0
165  1_20240831 21     1  20240831 21    27.9      0.0      1.4   66.0
166  1_20240831 22     1  20240831 22    27.4      0.0      0.3   72.0
167  1_20240831 23     1  20240831 23    26.7      0.0      1.6   70.0

[168 rows x 7 columns]

In [45]:
train = pd.read_csv('./train.csv')
train['num_date_time'] = train['num_date_time'].apply(lambda x:x[-11:])
train['timestamp'] = pd.to_datetime(train['num_date_time'],format='%Y%m%d %H')
train = train.drop(['num_date_time','일시'],axis=1)
train = train.rename(columns={'건물번호':'item_id','전력소비량(kWh)':'target'})
train

,item_id,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),target,timestamp
0,1,18.3,0.0,2.6,82.0,0.0,0.00,5794.80,2024-06-01 00:00:00
1,1,18.3,0.0,2.7,82.0,0.0,0.00,5591.85,2024-06-01 01:00:00
2,1,18.1,0.0,2.6,80.0,0.0,0.00,5338.17,2024-06-01 02:00:00
3,1,18.0,0.0,2.6,81.0,0.0,0.00,4554.42,2024-06-01 03:00:00
4,1,17.8,0.0,1.3,81.0,0.0,0.00,3602.25,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...
203995,100,29.1,0.0,4.4,76.0,0.4,0.18,3276.00,2024-08-24 19:00:00
203996,100,28.6,0.0,3.7,74.0,0.0,0.00,3197.52,2024-08-24 20:00:00
203997,100,28.3,0.0,2.9,74.0,0.0,0.00,3006.60,2024-08-24 21:00:00
203998,100,28.0,0.0,1.7,76.0,0.0,0.00,2649.72,2024-08-24 22:00:00
203999,100,28.0,0.0,2.1,75.0,0.0,0.00,2929.32,2024-08-24 23:00:00

In [49]:
data = TimeSeriesDataFrame(train)
predictor = TimeSeriesPredictor( 
    prediction_length=24*3,
    target="target",
    eval_metric='RMSE',
)
# seed 고정
predictor.fit(data, random_seed=42)
predictor.refit_full()
predj = predictor.predict(data, random_seed=42)

No path specified. Models will be saved in: "AutogluonModels\ag-20250730_130129\"
================ TimeSeriesPredictor ================
TimeSeriesPredictor.fit() called
Fitting with arguments:
{'enable_ensemble': True,
 'evaluation_metric': 'RMSE',
 'excluded_model_types': None,
 'hyperparameter_tune_kwargs': None,
 'hyperparameters': 'default',
 'num_val_windows': 1,
 'prediction_length': 72,
 'random_seed': 42,
 'target': 'target',
 'time_limit': None,
 'verbosity': 2}
Provided training data set with 204000 rows, 100 items (item = single time series). Average time series length is 2040.0. Data frequency is 'H'.
=====================================================
Global seed set to 42
AutoGluon will save models to AutogluonModels\ag-20250730_130129\
AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being 'higher is better'. The reported score can be multiplied by -1 to get the metric value.

Provided dataset contains following columns:
	target:           'target'
	past covariates:  ['기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '일조(hr)', '일사(MJ/m2)']

Starting training. Start time is 2025-07-30 22:01:29
Models that will be trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR']
Training timeseries model Naive.
	-1505.3062    = Validation score (-RMSE)
	0.27    s     = Training runtime
	17.94   s     = Validation (prediction) runtime
Training timeseries model SeasonalNaive.
	-612.4551     = Validation score (-RMSE)
	0.24    s     = Training runtime
	0.20    s     = Validation (prediction) runtime
Training timeseries model Theta.
	-579.6914     = Validation score (-RMSE)
	0.25    s     = Training runtime
	66.94   s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	-838.6411     = Validation score (-RMSE)
	0.24    s     = Training runtime
	190.18  s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	-733.9016     = Validation score (-RMSE)
	63.93   s     = Training runtime
	7.47    s     = Validation (prediction) runtime
Training timeseries model DeepAR.
	-653.9465     = Validation score (-RMSE)
	1721.18 s     = Training runtime
	16.25   s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	-497.8393     = Validation score (-RMSE)
	6.70    s     = Training runtime
	92.55   s     = Validation (prediction) runtime
Training complete. Models trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR', 'WeightedEnsemble']
Total runtime: 2093.63 s
Best model: WeightedEnsemble
Best model score: -497.8393
	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: Naive_FULL | Skipping fit via cloning parent ...
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: Theta_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL
	56.58   s     = Training runtime
Fitting model: DeepAR_FULL | Skipping fit via cloning parent ...
Fitting model: WeightedEnsemble_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['Naive_FULL', 'SeasonalNaive_FULL', 'Theta_FULL', 'AutoETS_FULL', 'RecursiveTabular_FULL', 'DeepAR_FULL', 'WeightedEnsemble_FULL']
Total runtime: 57.08 s
Updated best model to 'WeightedEnsemble_FULL' (Previously 'WeightedEnsemble'). AutoGluon will default to using 'WeightedEnsemble_FULL' for predict().
Global seed set to 42
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble_FULL